---
import '@components/newsletter/subscribe.css';

import dictionary from '@data/dictionary.json';

const { lang } = Astro.props;
---

<div class='newsletter'>
	<div class='newsletter-label'>{dictionary.newsletter_title[lang]}</div>
	<form id='newsletter-form' class='newsletter-form'>
		<div class='newsletter-input-container'>
			<input id='newsletter-phone' type='hidden' name='phone' value='' />
			<input
				type='text'
				class='newsletter__input'
				name='email'
				placeholder={dictionary.email_hint[lang]}
				autocomplete='on'
			/>
			<button id='newsletter-button' class='newsletter__button'>&#10153;</button>
			<div class='newsletter-input-loader'></div>
		</div>
		<div class='newsletter-message'></div>
	</form>
</div>

<script>
	import { submitNewsletterForm } from './subscribe';

	document.addEventListener('DOMContentLoaded', () => {
		document.querySelector('#newsletter-button')?.addEventListener('click', submitNewsletterForm);

		let now = Date.now();
		let nlPh = document.querySelector<HTMLInputElement>('#newsletter-phone');
		if (nlPh) {
			nlPh.value = (now + 9).toString();
			nlPh.innerText = now.toString();
		}
	});
</script>
