<p><slot name="theater-name"/> entstand Ende 2019 und basiert auf den Grundlagen des klassischen und modernen Theaters.</p>
<p>
  Der Beginn des Theaterlebens fiel mit der Coronavirus-Epidemie und den Lockdowns zusammen, 
  sodass die erste Premiere erst im Herbst 2021 stattfand. Seitdem sind sechs Inszenierungen unterschiedlicher Genres 
  in unserem Repertoire entstanden: sowohl das klassische Drama <slot name="play-name-link-ts"/> von Tschechow 
  als auch die moderne Tragikomödie <slot name="play-name-link-dk"/> nach dem Stück von Tatjana Moskwina, 
  die gesellschaftspolitische Inszenierung <slot name="play-name-link-pip"/> nach dem Stück von Arseny Gonchukov 
  mit Ergänzung des Werks „Warten auf den Sohn“ von Alexey Slapovsky, der Krimi <slot name="play-name-link-op"/> 
  nach dem Stück von John Boyton Priestley, die moderne Sozialgeschichte <slot name="play-name-link-miks"/> 
  nach dem Theaterstück von Konstantin Popov und das Kinderstück <slot name="play-name-link-mik"/> nach dem Buch 
  von Astrid Lindgren. Nun wird die Premiere der neuen, siebten Komödie-Produktion <slot name="play-name-link-n32"/> 
  nach dem Stück von Vladimir Zajkin vorbereitet.
</p>
<p>
  Das Ensemble besteht aus Menschen aus verschiedenen Ländern: Deutschland, Ukraine, Russland, Israel, 
  Weißrussland, Armenien, Lettland, Bulgarien. Die Zuschauer loben das ausgezeichnete Zusammenspiel des Ensembles.
</p>
<p>
  Der intime Bühnenraum unseres Theaters in <slot name="theater-stage"/> (<slot name="theater-address"/>) 
  schafft eine heimelige Atmosphäre und das Gefühl der unmittelbaren Teilnahme des Zuschauers am Geschehen.
</p>
<p>
Wenn Sie bereits bei unseren Auftritten waren, freuen wir uns über Ihre Bewertungen:
<slot name="reviews"/>
Folgen Sie dem <slot name="afisha"/> und kommen Sie! Wir freuen uns immer, Sie in unserem Theater zu sehen!
</p>
<p>
V. G. Belinsky fragte in seinen „Literarischen Träumen“: „Theater!... Liebt ihr Theater genauso sehr wie ich es liebe?“ Wir möchten diese Frage neu formulieren:
</p>
<div class="motto">„Liebt ihr Theater genauso sehr wie wir!?“</div>
