<p><slot name="theater-name"/> создан в конце 2019 года и строится на основах классического и современного театра.</p>
<p>
  Начало жизни Театра совпало с эпидемией коронавируса и локдаунами, поэтому первая премьера состоялась 
  только осенью 2021 года. С того времени в нашем репертуаре появились шесть постановок различных жанровых направлений: 
  как классика в виде драмы Чехова <slot name="play-name-link-ts"/>, так и современная трагикомедия 
  <slot name="play-name-link-dk"/> по пьесе Татьяны Москвиной, общественно-политическая постановка 
  <slot name="play-name-link-pip"/> по пьесе Арсения Гончукова 
  с включением произведения Алексея Слаповского «В ожидании сына», детектив <slot name="play-name-link-op"/> 
  по пьесе Джона Бойтона Пристли, современная социальная история <slot name="play-name-link-miks"/> 
  по пьесе Константина Попова и детский спектакль <slot name="play-name-link-mik"/> по мотивам книги Астрид Линдгрен.
  Сейчас готовится премьера новой, седьмой постановки-комедии <slot name="play-name-link-n32"/> по пьесе Владимира Зайкина.
</p>
<p>
  Коллектив Театра представлен людьми из самых разных стран: Германия, Украина, Россия, Израиль, Беларусь, Армения, 
  Латвия, Болгария. Судя по отзывам зрителей, прекрасные отношения внутри коллектива становятся заметны зрителям
   и во взаимодействии актеров на сцене.
</p>
<p>
  Камерная сценическая площадка, используемая нашим Театром в <slot name="theater-stage"/> 
  (<slot name="theater-address"/>), формирует атмосферу домашнего уюта и ощущение непосредственного 
  участия зрителя в разворачивающихся событиях.
</p>
<p>
  Если Вы уже были на наших спектаклях, то будем рады получить Ваши отзывы:
  <slot name="reviews"/>
  Следите за <slot name="afisha"/> и приходите! Мы всегда рады видеть Вас в нашем Театре!
</p>
<p>
В. Г. Белинский в своих «Литературных мечтаниях» вопрошал: "Театр!.. Любите ли вы театр так, как я люблю его?" Мы же со своей стороны переиначим этот вопрос:
</p>
<div class="motto">"Любите ли вы театр, как его любим мы!?"</div>
