<p>
	Unser Theater ist nicht nur ein Ort für Profis auf ihrem Gebiet, sondern auch für diejenigen, die neue Fähigkeiten
	erwerben und ihre bisherigen Erfahrungen verbessern möchten.
</p>
<p>Wenn Sie daran interessiert sind, sich in folgenden Bereichen weiterzuentwickeln:</p>
<ul class='classic'>
	<li>Schauspieler:in</li>
	<li>Lichtdesigner:in</li>
	<li>Toningenieur:in</li>
	<li>Fotograf:in</li>
	<li>Filmmaker:in</li>
	<li>Bühnenbildner:in</li>
	<li>Kostümbildner:in</li>
</ul>
<p>dann hat unser Theater etwas für Sie zu bieten!</p>
<p>
	Wenn Sie etwas auf dieser Liste interessiert, können Sie sich gerne an uns wenden! Nutzen Sie das
	<slot name='contact-form-slot' /> oder schreiben Sie an <slot name='email' />
</p>
