<p>
  Наш Театр - это не только место для профессионалов в своем деле, но и для желающих 
  приобрести новые навыки, улучшить текущий опыт.</p>
<p>Если Вы заинтересованы развить себя в таких областях как:</p>
<ul>
<li>актерское мастерство</li>
<li>художник по свету</li>
<li>звукорежиссер</li>
<li>фотограф</li>
<li>видеооператор/кинорежиссер</li>
<li>художник по декорациям</li>
<li>художник по костюмам</li>
</ul>
<p>то нашему Театру есть что Вам предложить!</p>
<p>
  Не стесняйтесь связаться с нами, если что-то из этого списка Вас интересует! Воспользуйтесь
  Формой обратной связи внизу страницы или напишите на <slot name="email"/>
</p>
