<p>
	<b class='big-font'>Актерская Студия Театра Антреприза</b> — студия классического и современного театра - будет рада помочь
	Вам развить (или даже открыть) ваши актерские способности и сделать шаг в актерскую жизнь.
</p>
<p>
	Описание основного курса в нашей студии:
	<ol>
		<li>Продолжительность курса - 4 месяца.</li>
		<li>Продолжительность одного занятия - 2 часа.</li>
		<li>Количество занятий в неделю - 2.</li>
		<li>Стоимость одного занятия - 15 евро.</li>
		<li>Место проведения занятий: <i><slot name='address' /></i>.</li>
		<li>Занятия проходят на русском языке.</li>
		<li>
			В программе занятий:
			<ul class='classic'>
				<li>этюды на органическое молчание для ощущения себя на сцене, обучении игры без текста;</li>
				<li>
					хореографические этюды, способствующие началу импровизации, развитию фантазии и знакомству со своим телом с
					разных сторон;
				</li>
				<li>сценическая речь;</li>
				<li>упражнения на внимание;</li>
				<li>работа с текстом и анализ;</li>
				<li>импровизация;</li>
				<li>сценическое движение;</li>
				<li>работа с партнёром.</li>
			</ul>
		</li>
		<li>
			В конце курса вы примете участие как актер в создании короткометражного фильма или спектакля. Это станет отличным
			дополнением к вашему портфолио. Вы получите важный опыт работы на съемочной площадке/сцене и шанс быть замеченным
			профессионалами и критиками.
		</li>
		<li>
			Большая часть занятий основаны на сценарии будущего фильма или спектакля. То есть вы будете сразу же погружаться в
			работу над проектом с первых дней обучения. Занятия не будут абстрактными уроками и позволят задействовать
			конкретные знания и навыки, которые вы сможете применить на практике. Вы научитесь анализировать сценарий,
			развивать своих персонажей. Конкретная цель и четкие сроки создадут сильную мотивацию.
		</li>
	</ol>
</p>
<p>По всем вопросам обращаться <b><slot name='email' /></b></p>
