<p>
	<b class='big-font'>Das Schauspielerstudio des Theaters Antrepriza</b> – ein Studio vom klassischen und modernen Theater
	– hilft Ihnen gerne dabei, Ihre schauspielerischen Fähigkeiten zu entwickeln (oder sogar zu entdecken) und einen Schritt
	in das Schauspielleben zu wagen.
</p>
<p>
	Beschreibung des Grundkurses in unserem Studio:
	<ol>
		<li>Die Kursdauer beträgt 4 Monate.</li>
		<li>Die Unterrichtsdauer beträgt 2 Stunden.</li>
		<li>Anzahl der Unterrichten pro Woche: 2.</li>
		<li>Die Kosten für den Unterricht betragen 15 Euro.</li>
		<li>Unterrichtsort: <i><slot name='address' /></i>.<slot name='map' /></li>
		<li>Der Unterricht findet auf Russisch statt.</li>
		<li>
			Das Unterrichtsprogramm umfasst:
			<ul class='classic'>
				<li>Etüden zur organischen Stille, um sich auf der Bühne zu fühlen und zu lernen, ohne Text zu spielen;</li>
				<li>
					choreografische Skizzen, die Improvisation, die Entwicklung der Vorstellungskraft und die Vertrautheit mit
					Ihrem Körper aus verschiedenen Blickwinkeln fördern;
				</li>
				<li>Bühnenrede;</li>
				<li>Aufmerksamkeitsübungen;</li>
				<li>Textarbeit und Analyse;</li>
				<li>Improvisation;</li>
				<li>Bühnenbewegung;</li>
				<li>Zusammenarbeit mit Partner.</li>
			</ul>
		</li>
		<li>
			Am Ende des Kurses wirken Sie als Schauspieler an der Entstehung eines Kurzfilms oder Theaterstücks mit. Dies wird
			eine großartige Ergänzung Ihres Portfolios sein. Sie sammeln wichtige Erfahrungen bei der Arbeit am Filmset/auf
			der Bühne und haben die Chance, von Fachleuten und Kritikern wahrgenommen zu werden.
		</li>
		<li>
			Die meisten Unterrichte basieren auf dem Drehbuch eines zukünftigen Films oder Theaterstücks. Das bedeutet, dass
			Sie bereits ab den ersten Schulungstagen in die Projektarbeit eintauchen. Der Unterricht besteht nicht aus
			abstraktem Unterricht, sondern vermittelt Ihnen spezifische Kenntnisse und Fähigkeiten, die Sie in der Praxis
			anwenden können. Sie lernen, das Drehbuch zu analysieren und Ihre Charaktere zu entwickeln. Ein konkretes Ziel und
			klare Fristen sorgen für eine starke Motivation.
		</li>
	</ol>
</p>
<p>Bei Fragen wenden Sie sich bitte an <b><slot name='email' /></b></p>
