<p>
  <b class="big-font">Das Schauspielerstudio des Theaters Antrepriza</b> – 
  ein Studio vom klassischen und modernen Theater – hilft Ihnen gerne dabei, Ihre schauspielerischen Fähigkeiten 
  zu entwickeln (oder sogar zu entdecken) und einen Schritt in das Schauspielleben zu wagen.
</p>
<p>
  Der Unterricht findet zweimal pro Woche, in der Regel abends, in der 
  <i><slot name="address"/></i> (<b><slot name="place-name"/></b>) statt.
</p>
<p>Im Unterrichtsprogramm:</p>
<ul class="classic">
<li>Schauspielausbildung in den Bereichen Bühnensprache, Atmung, Gesang und Bühnenbewegung;
<li>Kommunikationsfähigkeiten nach dem Stanislavsky-System 
  <b>„Arbeit des Schauspielers an sich selbst“</b> und 
  <b>„Arbeit des Schauspielers an der Rolle“</b>;
<li>Teilnahme an Proben und Aufführungen unseres Theaters.
</ul>
<p>
  Informationen für Russisch-Lernende: Unterrichte beim Schauspielstudio helfen Ihnen dabei, 
  Ihr aktuelles Sprachniveau zu verbessern!
</p>
<p>Der Unterricht wird von <b><slot name="teacher"/></b> – <slot name="teacher-status"/> geleitet.</p>
<p>Bei Fragen wenden Sie sich bitte an <b><slot name="email"/></b></p>
