<p>
  <b class="big-font">Актерская Студия Театра Антреприза</b> — студия классического и современного театра - 
  будет рада помочь Вам развить (или даже открыть) ваши актерские способности и сделать шаг в актерскую жизнь.
</p>
<p>
  Занятия проводятся два раза в неделю, как правило по вечерам, по адресу 
  <i><slot name="address"/></i> (<b><slot name="place-name"/></b>).
</p>
<p>В программе занятий:</p>
<ul>
<li>актерские тренинги по сценической речи, дыханию, вокалу и сценическому движению;
<li>коммуникативные навыки по системе К.С. Станиславского <b>«Работа Актера над собой»</b> и <b>«Работа Актера над ролью»</b>;
<li>участие в репетициях и спектаклях нашего Театра.
</ul>
<p>
  Информация для изучающих русский язык: занятия в Актерской студии помогут Вам улучшить текущий уровень разговорного языка!
</p>
<p>Занятия проводит <b><slot name="teacher"/></b> - <slot name="teacher-status"/>.</p>
<p>По всем вопросам обращаться <b><slot name="email"/></b></p>
