<div class='header'>Liebe Freunde des Theaters Antrepriza!</div>
<p>
  Unser Theater wurde Ende 2019 gegründet. Die erste Produktion feierte 2021 Premiere. Seitdem umfasst das Repertoire 
  viele interessante Produktionen verschiedenster Genres sowohl für erwachsenes Publikum als auch für Kinder. 
  Und natürlich werden wir nicht aufhören. Wir haben viele Pläne und sind bereit, voranzuschreiten, 
  um das Publikum noch mehr zu begeistern.
</p>
<p>
  Unser Theater kann kaum als kommerzielles Projekt bezeichnet werden. Ja, wir verkaufen Eintrittskarten 
  für Aufführungen, aber um zumindest teilweise die Kosten für die Raummiete, den Kauf von Requisiten, 
  die Anfertigung von Bühnenbildern, Kostümen und anderen Bestandteilen des Theaterlebens zu decken. 
  Doch auch trotz dieser schwierigen Momente geht das Schauspielteam mit Altruismus weiterhin auf die Bühne
  und bringt dem Publikum die magische Welt des Theaters nahe.
</p>
<p>Deshalb freuen wir uns immer über IHRE UNTERSTÜTZUNG, und die kann ganz unterschiedlich sein!</p>
<ul class="classic">
<li>
  Das könnte Ihre Hilfe sein, den Bekanntheitsgrad unseres Theaters zu steigern, 
  wenn Sie Ihren Freunden, Kollegen und Bekannten davon erzählen.
</li>
<li>
  Das können Ihre Rezensionen zum Theater und Aufführungen in Ihren sozialen Netzwerken, 
  aber auch auf den Seiten unseres Theaters sein:
  <slot name="reviews"/>
</li>
<li>
  Und natürlich könnte dies Ihre finanzielle Unterstützung sein, die uns bei der Erstellung der nächsten Produktionen 
  sehr helfen wird. Hierzu können Sie über PayPal spenden (bitte geben Sie die Zahlungsart Ihrer Überweisungen als 
  <span class='font-opacity1'>'Für Freunde und Familie'</span> an)
  oder uns per E-Mail <slot name="email"/> oder Telefon <slot name="phone"/> kontaktieren.
  <slot name="donate"/>
</li>
</ul>
