<div class='header'>Дорогие друзья Театра Антреприза!</div>
<p>Мы существуем с 2019 года. Премьера первого спектакля состоялась в 2021 году. С тех пор в нашем репертуаре 
  появилось много интересных постановок самого разнообразного жанра как для взрослой публики, так и для детей. 
  И конечно же, мы не собираемся останавливаться. У нас есть много планов, и мы готовы двигаться вперед, 
  чтобы дальше радовать зрителей.
</p>
<p>Наш Театр трудно назвать коммерческим проектом. Да, мы продаем билеты на спектакли, но в целях хотя бы
  частично покрыть расходы на аренду помещений, покупку реквизита, создание декораций, костюмы и другие 
  составляющие, присущие жизни театров. Но даже несмотря на эти непростые моменты, актерский коллектив 
  с альтруизмом продолжает выходить на сцену и нести зрителям волшебный мир театра.
</p>
<p>Поэтому мы всегда будем рады ВАШЕЙ ПОДДЕРЖКЕ, а она может быть самой разной!</p>
<ul>
<li>Это может быть ваша помощь в повышении узнаваемости нашего Театра, если вы расскажите о нем своим друзьям, 
  коллегам, знакомым.</li>
<li>Это могут быть ваши отзывы о театре и спектаклях в ваших социальных сетях, а также на страницах нашего театра:
<slot name="reviews"/>
</li>
<li>И конечно же это может быть ваша финансовая поддержка, которая нам очень поможет при создании следующих спектаклей. 
  Для этого вы можете пожертвовать через PayPal (пожалуйста, указывайте ваши переводы как 
  <span class='font-opacity1'>"личный платеж друзьям и родным"</span>)
  или связаться с нами по электронной почте <slot name="email"/> или телефону <slot name="phone"/>.
<slot name="donate"/>
</li>
</ul>
