.picture-test {
	width: 300px;
	height: auto;
	max-width: 30%;
}

.section-programm {
	width: 100%;
	color: var(--colorFont);
	/* text-align: center; */
}

.programm-month h2 {
	font-family: 'Roboto', Verdana, Arial, Tahoma, sans-serif;
	font-weight: var(--font-bold-weight);
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	border-bottom: 1px solid var(--colorFont);
	padding: 20px 0px 25px 0px;
	text-align: center;
	margin-bottom: 0px;
}

.programm-play-link {
	text-decoration: none;
}

.programm-play-link::before {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.programm-play-block {
	position: relative;
	font-family: 'Roboto', Verdana, Arial, Tahoma, sans-serif;
	font-weight: var(--font-normal-weight);
	padding: 15px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	transition: background-color 250ms linear;
}

.programm-play-block[hidden] {
	display: none;
}

.programm-play-block:not(:last-of-type) {
	border-bottom: 1px solid var(--colorFont);
}

.programm-play-text {
	flex-grow: 2;
	min-width: 60vw;
	height: min-content;

	display: grid;
	grid-template-columns: 2fr 4fr;
	grid-template-areas:
		'when title'
		'. genre'
		'. tickets';
	padding-right: 15px;
	align-items: start;
	row-gap: 15px;
	column-gap: 5px;
}

.programm-when {
	grid-area: when;
	align-self: start;
}

.programm-title {
	grid-area: title;
	align-self: start;
}

.programm-genre {
	grid-area: genre;
	align-self: start;
}

.programm-tickets {
	grid-area: tickets;
	align-self: start;
}

.programm-genre {
	font-size: 1.2rem;
	font-weight: 400;
}

.programm-genre::before {
	content: attr(data-label);
	font-size: 1.05rem;
	font-weight: var(--font-thin-weight);
	text-transform: uppercase;
}

.programm-tickets-btn {
	text-decoration: none;
	border: 2px solid var(--colorFontDate);
	background-color: var(--colorFontDate);
	font-weight: var(--font-bold-weight);
	color: var(--colorFontTicketsBtn);
	margin-top: 1rem;
	padding: 0.25em 1.5em 0.25em 1.5em;
	line-height: 1.1rem;
	border-radius: 3px;
	position: relative;
	z-index: 5;
}

.programm-date,
.programm-title {
	font-size: 1.8rem;
	font-weight: var(--font-extra-weight);
	text-transform: uppercase;
}

.programm-premiere {
	font-size: 0.9rem;
	font-weight: var(--font-bold-weight);
	color: var(--colorAntreprizaRed);
	text-transform: uppercase;
	letter-spacing: 0.07rem;
}

.programm-day {
	font-size: 1.4rem;
	font-weight: var(--font-extra-weight);
	text-transform: uppercase;
}

.programm-time {
	font-size: 1.6rem;
	font-weight: var(--font-bold-weight);
}

.programm-date,
.programm-day,
.programm-time {
	color: var(--colorFontDate);
}

.programm-genre h5 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.programm-genre-label {
	font-size: 1.05rem;
	font-weight: var(--font-thin-weight);
	text-transform: uppercase;
}

/* .programm-play-image {
	align-self: flex-start;
} */

.programm-play-image picture {
	/* display: block; */
}

.play-image {
	display: block;
	border-radius: 4px;
	max-width: 100%;
	height: auto;
	object-fit: contain;

	-webkit-filter: grayscale(95%);
	filter: grayscale(95%);
	transition: filter 250ms ease-in;
}

.programm-play-block:hover {
	background-color: var(--colorBkgProgrammItem);
}
.programm-play-block:hover .play-image {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.section-programm a:focus-visible {
	outline: 1px solid var(--colorFocusAntreprizaRed);
}

@media screen and (max-width: 910px) {
	.programm-play-text {
		min-width: 50vw;
		grid-template-columns: auto;
		grid-template-areas:
			'title'
			'when'
			'genre'
			'tickets';
		align-items: start;
	}
}

@media screen and (max-width: 660px) {
	.programm-play-block {
		flex-direction: column-reverse;
	}
	.programm-play-text {
		min-width: 100%;
	}

	.programm-play-image {
		padding-bottom: 15px;
	}
}

/* @media screen and (max-width: 40px) {
	.programm-tickets-btn {
		width: 100%;
	}
} */
