.month-title {
	font-size: clamp(1.55rem, 3.7vw, 2.7rem);
	font-weight: var(--font-extra-weight);
	color: var(--colorFontDate);
	line-height: 1.25em;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	word-wrap: break-word;

	border-top: 1px solid var(--colorFont);
	padding: 0.44em 0px 0.5em 0px;
	text-align: center;
	margin-bottom: 0px;
}

.program-play-block {
	position: relative;
	font-weight: var(--font-normal-weight);
	padding: 15px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	transition: background-color 250ms linear;
	border-top: 1px solid;
}

.program-play-block[hidden] {
	display: none;
}

.program-play-text {
	flex-grow: 2;
	min-width: clamp(50vw, 3vw, 60vw);
	min-height: 100%;

	display: grid;
	/* grid-template-columns: clamp(1.7fr, 3vw, 2fr) 4fr; */
	grid-template-columns: 1.5fr 4fr;
	grid-template-rows: auto auto 1fr;
	grid-template-areas:
		'when title'
		'. info'
		'. tickets';
	padding-right: 15px;
	align-items: start;
	row-gap: clamp(7px, 0.7vw, 15px);
	column-gap: 5px;
}

.program-when {
	grid-area: when;
	align-self: first baseline;
	line-height: clamp(1.2rem, 2.5vw, 1.5rem);
}
.program-when:has(.play-property-hot-notice) {
	align-self: self-start;
}

.program-title {
	grid-area: title;
	align-self: first baseline;
}
.program-title sup {
	color: var(--colorFontDate);
}

.program-info {
	grid-area: info;
	align-self: first baseline;

	display: grid;
	grid-template-columns: min-content auto;
	column-gap: 10px;
}

.program-info .play-property {
	align-self: first baseline;
}
.play-property-label {
	font-size: clamp(0.95rem, 1.8vw, 1.05rem);
	font-weight: var(--font-normal-weight);
	/* line-height: 1.8; */
	color: var(--colorFont-Op1);
	text-transform: uppercase;
	align-self: first baseline;
}

.address-stage {
	color: var(--colorFontDate);
}

.program-tickets {
	grid-area: tickets;
	align-self: end;
}

.pink-button.afisha {
	position: relative;
	font-size: 1rem;
	letter-spacing: 1px;
	padding: 0.25em 1.5em 0.25em 1.5em;
}

.program-date {
	font-size: clamp(1.5rem, 3vw, 1.8rem);
	line-height: calc(1.1 * clamp(1.5rem, 3vw, 1.8rem));
	font-weight: var(--font-extra-weight);
	text-transform: uppercase;
}

.program-date::after {
	content: attr(data-day);
	font-size: clamp(1.3rem, 3vw, 1.5rem);
	font-weight: var(--font-extra-weight);
	text-transform: uppercase;
}

.program-time {
	font-size: clamp(1.4rem, 2.5vw, 1.6rem);
	line-height: calc(1.1 * clamp(1.4rem, 2.5vw, 1.6rem));
	font-weight: var(--font-bold-weight);
}

.program-date,
.program-time {
	display: block;
	color: var(--colorFontDate);
}

.hover-block:is(.festival) {
	/* background-color: var(--colorAntreprizaRed); */
	background-color: rgb(210, 69, 69);
}

@media (hover: hover) {
	body.no-js .hover-block:is(.festival).hover-background:hover {
		transition: background-color 500ms ease-out;
		background-color: rgb(214, 57, 57);
	}
}
/* this hover-effect works only if javascript is on */
.hover-block:is(.festival).hover-background[hover] {
	transition: background-color 500ms ease-out;
	background-color: rgb(214, 57, 57);
}

.hover-block:is(.festival) * {
	color: var(--grey-11);
}
.hover-block:is(.festival) .play-property-label {
	color: var(--grey-17);
}

@media screen and (max-width: 1040px) {
	.program-play-text {
		/* min-width: 50vw; */
		grid-template-columns: auto;
		grid-template-areas:
			'title'
			'when'
			'info'
			'tickets';
		align-items: start;
	}
}

@media screen and (max-width: 750px) {
	.program-play-block {
		flex-direction: column-reverse;
	}
	.program-play-text {
		min-width: 100%;
		padding-right: 0;
	}

	.program-play-image {
		padding-bottom: 15px;
	}
}
