:root {
	--grey-200: hsl(0, 0%, 15%);
	--grey-140: hsl(0, 0%, 16%);
	--grey-130: hsl(0, 0%, 18%);
	--grey-120: hsl(0, 0%, 19%);
	--grey-78: hsl(0, 0%, 25%);
	--grey-56: hsl(0, 0%, 34%);
	--grey-46: hsl(0, 0%, 44%);
	--grey-30: hsl(0, 0%, 56%);
	--grey-24: hsl(0, 0%, 64%);
	--grey-19: hsl(0, 0%, 70%);
	--grey-16: hsl(0, 0%, 77%);
	--grey-14: hsl(0, 0%, 81%);
	--grey-13: hsl(0, 0%, 84%);
	--grey-12: hsl(0, 0%, 87%);
	--grey-11: hsl(0, 0%, 90%);
	--grey-10: hsl(0, 0%, 96%);
	--grey-08: hsl(0, 0%, 97%);
	--grey-05: hsl(0, 0%, 98%);

	--grey-78-lit: 25%;
	--grey-16-lit: 77%;
	--grey-13-lit: 84%;
	--grey-10-lit: 96%;

	--gray-rose-hue: 3;
	--gray-rose-lit: 45%;

	--red-hue: 358;
	--red-sat: 89%;
	--red-lit: 47%;

	--red: rgb(227, 13, 21);
	--red-hsl: hsl(358 89% 47%);
	--red-hex: #e30d15;
	--red2: hsl(358, 100%, 62%);

	--red-rose: #ff7660;

	--scrollBarWidth: 10px;

	--red-op1: rgb(from var(--red-rose) r g b / 0.9);
}

/* --------------------------------------------------- */
/* ---------------- dark/light theme ----------------- */
/* --------------------------------------------------- */
[data-theme='dark'] {
	color-scheme: dark;
	--font-opacity0: 0.7;
	--font-opacity1: 0.44;

	--gray-rose-sat: 18%;
	--gray-rose-sat-dis: 24%;
	--gray-rose-opac-dis: 0.5;
	--gray-rose-opac-hover: 0.6;

	--colorAntreprizaRed: hsl(358, 100%, 64%);
	--colorAntreprizaRed-Op0: hsl(358 100% 62% / 0.9);
	--colorAntreprizaRed-Op1: hsl(358 100% 62% / 0.75);

	--colorBkgMainGallery: var(--grey-140);

	--font-lit: var(--grey-13-lit);
	--font-ticket-btn-lit: var(--grey-16-lit);

	--colorBorderForm: var(--grey-46);
	--colorBkgInput: var(--grey-140);
	--colorBkgForm: var(--grey-120);
	--colorBkgPage: var(--grey-200);

	--colorBkgPageInvers: var(--grey-30);
	--colorGradInversCenter: var(--grey-30);
	--colorGradInversSides: var(--grey-46);
	--colorFontInvers: var(--grey-120);

	--colorBkgLayerUnderForm: hsla(0 0% 15% / 0.65);

	--colorBkgHoverBlock: var(--grey-130);
	--colorBoxShadow: hsl(0 0% 96% / 0.25);
	--colorBkgDisabledBtn: var(--grey-56);
	--colorBkgHoverDisabledBtn: var(--grey-78);
	--colorFontDisabledBtn: var(--grey-24);

	--colorScrollBarBackground: var(--grey-16);
	--colorScrollBarThumb: var(--grey-30);
	--colorScrollBarTrack: var(--grey-24);

	--font-normal-weight: 300;
	--font-thin-weight: 100;
	--font-bold-weight: 500;
	--font-extra-weight: 700;
	--font-logo-weight: 700;
	--font-invers-weight: 900;
}

[data-theme='light'] {
	color-scheme: light;
	--font-opacity0: 0.85;
	--font-opacity1: 0.8;

	--gray-rose-sat: 24%;
	--gray-rose-sat-dis: 18%;
	--gray-rose-opac-dis: 0.7;
	--gray-rose-opac-hover: 0.85;

	--colorAntreprizaRed: hsl(358 89% 47%);
	--colorAntreprizaRed-Op0: hsl(358 89% 47% / 0.8);
	--colorAntreprizaRed-Op1: hsl(358 89% 47% / 0.65);

	--colorBkgMainGallery: #b8b0ae;

	--font-lit: var(--grey-78-lit);
	--font-ticket-btn-lit: var(--grey-10-lit);

	--colorBorderForm: var(--grey-14);
	--colorBkgInput: var(--grey-10);
	--colorBkgForm: var(--grey-12);
	--colorBkgPage: var(--grey-08);

	--colorBkgPageInvers: var(--grey-46);
	--colorGradInversCenter: var(--grey-46);
	--colorGradInversSides: var(--grey-30);
	--colorFontInvers: var(--grey-10);

	--colorBkgLayerUnderForm: hsl(0 0% 44% / 0.65);

	--colorBkgHoverBlock: var(--grey-12);
	--colorBoxShadow: rgba(0, 0, 0, 0.12);
	--colorBkgDisabledBtn: var(--grey-30);
	--colorBkgHoverDisabledBtn: var(--grey-46);
	--colorFontDisabledBtn: var(--grey-12);

	--colorScrollBarBackground: var(--grey-11);
	--colorScrollBarThumb: var(--grey-30);
	--colorScrollBarTrack: var(--grey-24);

	--font-normal-weight: 400;
	--font-thin-weight: 300;
	--font-bold-weight: 700;
	--font-extra-weight: 900;
	--font-logo-weight: 900;
	--font-invers-weight: 400;
}

body {
	--gray-rose: hsl(var(--gray-rose-hue) var(--gray-rose-sat) var(--gray-rose-lit));
	--gray-rose-op0: hsl(var(--gray-rose-hue) var(--gray-rose-sat-dis) var(--gray-rose-lit) / var(--gray-rose-opac-dis));
	--gray-rose-hover: hsl(var(--gray-rose-hue) var(--gray-rose-sat) var(--gray-rose-lit) / var(--gray-rose-opac-hover));

	--colorFontDate: var(--gray-rose);
	--colorFontDateDisabled: var(--gray-rose-op0);
	--colorBkgTicketsBtn: var(--gray-rose);
	--colorBkgTicketsBtn-Hover: var(--gray-rose-hover);

	--colorFontTicketsBtn: hsl(0 0% var(--font-ticket-btn-lit));
	--colorFontTicketsBtn-Op0: hsl(0 0% var(--font-ticket-btn-lit) / 0.7);

	--colorFont: hsl(0 0% var(--font-lit));
	--colorFont-Op0: hsl(0 0% var(--font-lit) / var(--font-opacity0));
	--colorFont-Op1: hsl(0 0% var(--font-lit) / var(--font-opacity1));
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
html,
body {
	color: var(--colorFont);
	background-color: var(--colorBkgPage);
	font-family: 'Roboto', Verdana, Arial, Tahoma, sans-serif;
	font-weight: var(--font-normal-weight);
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	padding-inline-start: 2em;
}
li {
	padding-left: 0.15em;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	min-width: 0;
}

.wrapper-main {
	flex-grow: 1;
	margin: 0px clamp(15px, 4.5vw, 50px);

	display: flex;
	flex-direction: column;
}

/* --------------------------------------------------- */
/* --------------- browser scroll bar ---------------- */
/* --------------------------------------------------- */
::-webkit-scrollbar {
	width: var(--scrollBarWidth);
	background: var(--colorScrollBarBackground);
}

::-webkit-scrollbar-track {
	border: 2px solid var(--colorScrollBarTrack);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: var(--colorScrollBarThumb);
	border-radius: 5px;
}

/* --------------------------------------------------- */
/* -------------- h1, h2, h3, h4, h5, h6 ------------- */
/* --------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: inherit;
	font-weight: 400;
}

h3.play-title {
	font-size: clamp(1.45rem, 3vw, 1.8rem);
	line-height: calc(1.3 * clamp(1.5rem, 3vw, 1.8rem));
	font-weight: var(--font-extra-weight);
	text-transform: uppercase;
}

h4.notification-label {
	font-size: clamp(0.95rem, 1.8vw, 1.05rem);
	font-weight: var(--font-normal-weight);
	color: var(--colorFont-Op1);
	/* opac: var(--font-part-opac1); */
	text-transform: uppercase;
	margin-bottom: 0.3em;
}

.play-property {
	font-size: clamp(1rem, 1.8vw, 1.2rem);
	font-weight: 400;
}

.play-property-hot-notice {
	display: block;
	font-size: 0.9rem;
	font-weight: var(--font-bold-weight);
	color: var(--colorAntreprizaRed);
	text-transform: uppercase;
	letter-spacing: 0.07rem;
}

.font-opacity0 {
	color: var(--colorFont-Op0);
}
.font-opacity1 {
	color: var(--colorFont-Op1);
}

.bold1 {
	font-weight: var(--font-bold-weight);
}
.bold2 {
	font-weight: var(--font-extra-weight);
}
.lh-1-4 {
	line-height: 1.4;
}
.lh-1-3 {
	line-height: 1.3;
}
.lh-1-2 {
	line-height: 1.2;
}
.lh-1-15 {
	line-height: 1.15;
}
.lh-1-1 {
	line-height: 1.1;
}
.lh-1 {
	line-height: 1;
}
.a-no-u {
	text-decoration: none;
}

/* --------------------------------------------------- */
/* -------------- insert label ::before -------------- */
/* --------------------------------------------------- */
.label-before::before {
	content: attr(data-label);
	font-size: clamp(0.95rem, 1.8vw, 1.05rem);
	font-weight: var(--font-normal-weight);
	/* font-weight: var(--font-thin-weight); */
	/* opac: var(--font-part-opac1); */
	color: var(--colorFont-Op1);
	text-transform: uppercase;
}

/* --------------------------------------------------- */
/* ------------------ stretch link ------------------- */
/* --------------------------------------------------- */
.stretch-link {
	text-decoration: none;
}

.stretch-link::before {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

/* --------------------------------------------------- */
/* ------------- spreader for flexboxes -------------- */
/* --------------------------------------------------- */
.flex-spreader {
	flex-grow: 10;
}

/* --------------------------------------------------- */
/* --------------- tickets book button --------------- */
/* --------------------------------------------------- */
.pink-button {
	width: max-content;
	background-color: var(--colorBkgTicketsBtn);
	color: var(--colorFontTicketsBtn);
	font-weight: 400;
	line-height: 1.1rem;
	text-transform: uppercase;
	border: 1px solid var(--colorBkgTicketsBtn);
	border-radius: 3px;
	transition: background-color 300ms ease-out;
	/* transition: transform 200ms ease; */
	z-index: 5;
	cursor: pointer;

	padding: 0.25em 0.6em 0.25em 0.6em;
}

.pink-button[disabled] {
	border: 1px solid var(--colorBkgDisabledBtn);
	transition: background-color 300ms ease-out;
	background-color: var(--colorBkgDisabledBtn);
	text-decoration: line-through;
	cursor: default;
}
.pink-button.no-sell {
	text-decoration: none;
}

@media (hover: hover) {
	.pink-button:hover {
		background-color: var(--colorBkgTicketsBtn-Hover);
		transition: background-color 300ms ease-out;
	}
	.pink-button[disabled]:hover {
		background-color: var(--colorBkgHoverDisabledBtn);
		transition: background-color 300ms ease-out;
	}
}

/* --------------------------------------------------- */
/* ------------------ image wrappers ------------------ */
/* --------------------------------------------------- */
.image-wrapper-landscape {
	display: block;
	border-radius: 4px;
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

/* parent should be position: relative  !!! */
.image-wrapper-portrait {
	display: block;
	border-radius: 4px;
	width: auto;
	max-height: 100%;
	object-fit: contain;

	position: absolute;
	top: 50%;
	left: 50%;
	max-height: 100%;
	transform: translate(-50%, -50%);
}

/* --------------------------------------------------- */
/* --------------- black-white filter ---------------- */
/* --------------------------------------------------- */
.black-white-filter {
	-webkit-filter: grayscale(95%);
	filter: grayscale(95%);
	transition: filter 350ms ease-in;
}

/* --------------------------------------------------- */
/* ------------------- hover effect ------------------ */
/* --------------------------------------------------- */

/* this hover-effect works only if javascript is out */
@media (hover: hover) {
	body.no-js .hover-block.hover-background:hover {
		transition: background-color 500ms ease-out;
		background-color: var(--colorBkgHoverBlock);
	}

	body.no-js .hover-block:hover .black-white-filter {
		transition: filter 350ms ease-out;
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
	}
}

/* this hover-effect works only if javascript is in */
.hover-block.hover-background[hover] {
	transition: background-color 500ms ease-out;
	background-color: var(--colorBkgHoverBlock);
}
.hover-block[hover] .black-white-filter {
	transition: filter 350ms ease-out;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.black-white-filter:focus-visible {
	transition: filter 500ms ease-out;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

/* --------------------------------------------------- */
.section-title {
	font-size: clamp(1.65rem, 4vw, 3rem);
	font-weight: var(--font-extra-weight);
	line-height: 1.25em;
	padding-top: clamp(1.5rem, 2.6vw, 2rem);
	/* padding-bottom: 0.15em; */
	padding-bottom: clamp(1.5rem, 2.6vw, 2rem);
	letter-spacing: 0.04em;
	text-transform: uppercase;
	word-wrap: break-word;
}

.page-separator {
	margin-bottom: clamp(1.2rem, 2.2vw, 1.5rem);
}

.page-end {
	margin-bottom: clamp(1.1rem, 2.6vw, 2rem);
}

/* --------------------------------------------------- */
/* ---------------------- layers --------------------- */
/* --------------------------------------------------- */
.layer-on-window {
	position: fixed;
	z-index: 1200;
	width: 100vw;
	height: 100svh;
	top: 0;
	left: 0;
}

.layer-on-parent {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.layer-on-parent.show {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* --------------------------------------------------- */
/* ------------------- glass effect ------------------ */
/* --------------------------------------------------- */
.glass6 {
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
}
.glass1_5 {
	-webkit-backdrop-filter: blur(1.5px);
	backdrop-filter: blur(1.5px);
}

/* --------------------------------------------------- */
/* ------------------- flex center ------------------- */
/* --------------------------------------------------- */
.flex-center {
	display: flex;
	/* flex-direction: row; */
	justify-content: center;
	align-items: center;
}

/* --------------------------------------------------- */
/* ------------------- modal layer ------------------- */
/* --------------------------------------------------- */
.modal-layer {
	background-color: var(--colorBkgLayerUnderForm);
	transform: scaleY(0);
}

.modal-layer.show {
	transition:
		0.5s transform ease-in-out,
		0.5s backdrop-filter ease-in-out;
	transform: scaleY(1);
}

.modal-layer .close__button {
	position: absolute;
	top: 3px;
	right: 3px;
	background-color: transparent;
	color: var(--colorFontDate);
	border: 0px;
	font-size: 1.25em;
	line-height: 1em;
	font-weight: var(--font-bold-weight);
	padding: 1px 3px;
	cursor: pointer;
	transition: color 300ms ease-out;
}
.modal-layer .close__button:focus-visible {
	outline: 1px solid var(--colorAntreprizaRed);
}
@media (hover: hover) {
	.modal-layer .close__button:hover {
		color: var(--colorAntreprizaRed);
	}
}

.modal-dialog {
	position: relative;
	border: 4px solid var(--colorBorderForm);
	border-radius: 2px;
	box-shadow: 0 2px 10px var(--colorBoxShadow);

	background-color: var(--colorBkgForm);
	color: var(--colorFont);

	width: min(80vw, 130vh);
	min-width: 220px;
	min-height: 120px;
}

.modal-dialog .form {
	padding: 25px;
	padding-right: 32px;
}

.form-label {
	/* font-size: clamp(0.95rem, 1.8vw, 1.1rem); */
	font-size: 1.1em;
	line-height: 1.2em;
	padding-bottom: 0.3em;
}
.form-label.required::after {
	content: ' \002A';
	vertical-align: super;
	font-size: smaller;
	color: var(--colorAntreprizaRed);
	font-weight: var(--font-bold-weight);
}

.form-input {
	color: var(--colorFont);
	background-color: var(--colorBkgInput);
	font-size: 1.1em;
	/* font-size: clamp(0.95rem, 1.8vw, 1.1rem); */
	line-height: 1.4em;
	border: 1px solid var(--colorBkgTicketsBtn);
	margin-bottom: 0.7em;
	width: 100%;
}

.form-error {
	color: var(--colorAntreprizaRed);
	font-weight: var(--font-bold-weight);
	font-size: 0.9em;
	padding-bottom: 0.2em;
}

.form-input:has(+ .form-error) {
	margin-bottom: 0.1em;
}

.modal-dialog .form-input:focus-visible,
.modal-dialog button:focus-visible {
	outline: 1px solid var(--colorAntreprizaRed);
}
