.main-gallery {
	/* position: relative; */
	height: calc(100vh - var(--headerHeight));
	max-height: 120vw;
}
.main-gallery-position {
	position: absolute;
	left: 0;
	right: 0;
	height: calc(100vh - var(--headerHeight));
	max-height: 120vw;
}

.swiper {
	--colorSmallFontMainGallery: var(--grey-13);
	--colorBigFontMainGallery: rgb(125, 81, 79);
	--colorPremiereFontMainGallery: #ce040b;
	/* --colorBkgMainGallery: var(--grey-56); */
}

/* .wrapper-main {
	margin: 0;
} */

.swiper {
	display: flex;
	width: 100%;
	height: 100%;
	/* height: calc(100vh - var(--headerHeight)); */
	margin: 0;
	position: relative;
	background-color: var(--colorBkgMainGallery);
	/* background-color: var(--colorBkgMainGallery); */
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
	top: unset;
	bottom: var(--swiper-pagination-bottom, 4%);
	color: var(--colorFontDate);
	line-height: 0;
	border-radius: 50%;
	border: 2px solid var(--colorFontDate);
	width: 50px;
	height: 50px;
	margin: 0 10px;
	transition: transform 200ms ease;
}

.swiper .swiper-button-prev::after {
	content: '‹';
	font-size: 60px;
	position: absolute;
	top: -15px;
	left: 12px;
	/* padding-left: 20px; */
}
.swiper .swiper-button-next::after {
	content: '›';
	font-size: 60px;
	position: absolute;
	top: -15px;
	right: 12px;
	/* padding-right: 20px; */
}

@media screen and (max-width: 450px) {
	.swiper .swiper-button-prev,
	.swiper .swiper-button-next {
		display: none;
	}
}

.swiper .swiper-pagination {
	bottom: clamp(0%, min(4vh, 6vw), var(--swiper-pagination-bottom, 5%));
}

.swiper .swiper-slide {
	width: min-content;
	height: 80%;
	top: clamp(0%, min(5.5vh, 7vw), var(--swiper-pagination-bottom, 6%));
}

.swiper .swiper-pagination-bullet {
	width: clamp(1rem, min(6.5vh, 10vw), 1.7rem);
	height: 1rem;
	border: 2px solid var(--colorFontDate);
	background-color: transparent;
	border-radius: 2px;
	opacity: 1;
	transition: transform 200ms ease;
}

.swiper .swiper-pagination-bullet-active {
	background-color: var(--colorFontDate);
}

@media (hover: hover) {
	.swiper .swiper-button-prev:hover,
	.swiper .swiper-button-next:hover {
		transform: scale(1.1, 1.1);
	}

	.swiper .swiper-pagination-bullet:hover {
		transform: scale(1.2, 1.2);
	}
}

.carusel-play-card {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.carusel-play-image {
	width: min-content;
	height: 100%;
	/* -webkit-transform: scaleX(-1);
	transform: scaleX(-1); */
}

.carusel-picture {
	display: block;
	width: auto;
	max-width: 80vw;
	height: 100%;
	object-fit: contain;
	border-radius: 4px;

	-webkit-filter: grayscale(95%);
	filter: grayscale(95%);
	transition: filter 600ms ease-in;
}

.swiper .swiper-slide-active .carusel-picture {
	-webkit-filter: grayscale(20%);
	filter: grayscale(20%);
}

/* --------------------------------------------------- */
/* -------------------- block ------------------------ */
/* --------------- carusel-play-info ----------------- */
/* --------------------------------------------------- */
.carusel-play-info {
	position: absolute;
	top: 0;
	left: max(-50px, min(-5px, -4.2vw));
	right: 0;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.carusel-play-info-premiere {
	justify-self: flex-start;
	width: min-content;
	font-size: clamp(13px, min(3.5vh, 5vw), 24px);
	font-weight: 900;
	color: var(--colorPremiereFontMainGallery);
	text-transform: uppercase;
	letter-spacing: 0.07em;
	background-color: var(--colorSmallFontMainGallery);
	border-radius: 4px;
	padding: 0 clamp(4px, 5vw, 8px);
	margin-bottom: clamp(10px, min(3.5vh, 5vw), 40px);
}

.carusel-play-title {
	width: min-content;
	flex-wrap: wrap;
	color: var(--colorSmallFontMainGallery);
	font-size: clamp(14px, min(7vh, 10vw), 56px);
	line-height: 1.15em;
	letter-spacing: 0.05em;
	font-weight: 900;
	text-transform: uppercase;
	padding-bottom: clamp(8px, min(3.5vh, 5vw), 25px);
}

.carusel-play-details {
	color: var(--colorSmallFontMainGallery);
	flex-wrap: wrap;
	font-size: clamp(13px, min(3.5vh, 5vw), 24px);
	line-height: 1.2em;
	letter-spacing: 0.05em;
	font-weight: var(--font-bold-weight);
	padding-bottom: clamp(8px, min(3.5vh, 5vw), 25px);
}

/* --------------------------------------------------- */
/* ---------------- HOVER animation ------------------ */
/* ------------------- for card ---------------------- */
/* --------------------------------------------------- */
.carusel-play-card {
	/* --rotate-x: -45deg;
	--rotate-y: -45deg;
	perspective: 500px;
	transform-style: preserve-3d; */
	transition: transform 1000ms ease;
}

@media (hover: hover) {
	.carusel-play-card:hover {
		/* transform: scale3d(1.05, 1.05, 10); */
		transform: scale(1.05, 1.05);
	}
}

/* .carusel-play-image:hover {
	transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
} */

.carusel-play-title {
	transform: translate3d(0, 0, 80px);
}

/* .carusel-play-title:hover {
	transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
} */

.carusel-play-info-premiere,
.carusel-play-details {
	transform: translate3d(0, 0, 35px);
}
