.contact .contact-flex {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1100px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3rem;
	margin-bottom: 3rem;
}

.flex-item-left {
	text-align: center;
	margin: 0 auto;

	width: 35%;
	min-width: 260px;
	max-width: 700px;
	flex-grow: 2;
}
.flex-item-right {
	flex-grow: 1;
	margin: 0 auto;
}

.contact h3 {
	font-size: clamp(1.3rem, 2.4vw, 1.75rem);
	font-weight: var(--font-bold-weight);
	margin-bottom: 0.3em;
	line-height: 1.2em;
}

.contact address {
	font-size: clamp(0.85rem, 1.5vw, 1.1rem);
	color: var(--colorFont-Op1);
	padding-bottom: 1em;
}

.contact .info-text {
	letter-spacing: 0.03em;
}

.contact .phone-number {
	letter-spacing: 0;
}

.contact .description {
	/* width: 100%; */
	text-wrap: wrap;
	font-size: clamp(0.85rem, 1.5vw, 1.1rem);
	line-height: 1.5em;
}

.contact .description h4 {
	text-wrap: wrap;
	font-size: clamp(1.2rem, 2.2vw, 1.6rem);
	/* text-transform: uppercase; */
	letter-spacing: 0.035em;
	line-height: 1.35em;
	margin-top: 1.4em;
	margin-bottom: 0.4em;
}

.contact .description p {
	margin: 0;
	text-wrap: wrap;
}

.contact .description div {
	margin-bottom: 1em;
	line-height: 1.5;
}
.contact .description div.ext-links {
	line-height: 1.9em;
	margin-bottom: 0;
}

.contact .description a {
	color: var(--colorAntreprizaRed-Op0);
	font-weight: var(--font-bold-weight);
}
