.events .section-title {
	font-size: clamp(1.65rem, 5vw, 3rem);
}

.events input {
	position: absolute;
	-webkit-appearance: none;
	appearance: none;
	line-height: 1px;
}

.events ul {
	padding-left: 0;
	list-style: none;
}
.events li {
	font-weight: var(--font-normal-weight);
}

.evs-flex-tabs {
	display: flex;
}

.evs-tab-item {
	border: 1px solid var(--colorFontDate);
	background-color: transparent;
	color: var(--colorFontDate);

	font-size: clamp(0.85rem, 2vw, 1.1rem);
	font-weight: 400;
	line-height: 1.2em;
	letter-spacing: 0.07em;
	padding: 0.3em 0.8em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	margin: 0 0.5px;
}
.evs-tab-item-last {
	flex-grow: 1;
	border-bottom: 1px solid var(--colorFontDate);
}

.evs-event-flex {
	display: flex;
	flex-direction: row;
	column-gap: 1.5em;
	font-size: clamp(0.9rem, 2.3vw, 1.3rem);
	width: fit-content;
}

.evs-list-ost,
.evs-list-west,
.evs-list-festival,
.evs-list-tour {
	position: absolute;
	visibility: hidden;
}

.events:has(input[id='evs-tab-ost']:checked) .evs-list-ost,
.events:has(input[id='evs-tab-west']:checked) .evs-list-west,
.events:has(input[id='evs-tab-festival']:checked) .evs-list-festival,
.events:has(input[id='evs-tab-tour']:checked) .evs-list-tour {
	visibility: visible;
	position: static;
}

.events:has(input[id='evs-tab-ost']:checked) .evs-tab-ost,
.events:has(input[id='evs-tab-west']:checked) .evs-tab-west,
.events:has(input[id='evs-tab-festival']:checked) .evs-tab-festival,
.events:has(input[id='evs-tab-tour']:checked) .evs-tab-tour {
	color: var(--colorFontTicketsBtn-Op0);
	background-color: var(--colorBkgTicketsBtn);
}

@media (hover: hover) {
	.evs-tab-item:hover {
		background-color: var(--colorBkgTicketsBtn);
		color: var(--colorFontTicketsBtn-Op0);
		transition:
			background-color 300ms ease-out,
			color 300ms ease-out;
		cursor: pointer;
	}
}
