/* --------------------------------------------------- */
/* ---------------------- Question ------------------- */
/* --------------------------------------------------- */
.question {
	font-size: clamp(0.8rem, 2vw, 0.95rem);
	padding-bottom: 0.4em;
}

.modal-layer.d-feedback .modal-dialog {
	max-width: 440px;
}

/* .question-layer {
	background-color: var(--colorBkgLayerUnderForm);
} */

/* open question-layer at any focused element inside */
.question:has(.question-layer-switcher:not(:checked)) .question-layer:has(input:focus, textarea:focus, button:focus, select:focus) {
	transform: scaleY(1);
}

/* .question-close {
	width: 100%;
	text-align: right;
	font-size: 20px;
	line-height: 20px;
	padding-top: 2px;
	padding-right: 5px;
	font-weight: var(--font-bold-weight);
	margin-left: auto;
	user-select: none;
} */

.feedback-form {
	padding: 0 20px 20px 20px;
}

/* this class is important! html-js-css spm protection */
.feedback-form .xxx {
	display: none;
}
.feedback-form select.form-input::-ms-expand {
	display: none;
}
.feedback-form select.form-input {
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;

	padding: 2px 33px 2px 2px;
	margin-bottom: 0;
}
.feedback-form .select-wrapper {
	position: relative;
	margin-bottom: 0.7em;
}
.feedback-form .select-wrapper::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none;

	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 7.5px 0 7.5px;
	border-color: var(--colorBkgTicketsBtn) transparent transparent transparent;
}

.feedback-form textarea {
	resize: none;
	display: block;
}

.feedback-form .question-btn-wrapper {
	width: 100%;
	text-align: right;
	padding-top: 0.8em;
}

.feedback-form .pink-button {
	text-transform: none;
}

/* --------------------------------------------------- */
/* ------ show result of contact form sending -------- */
/* --------------------------------------------------- */
.question-form-result {
	width: 70%;
	text-align: center;
	padding: 1.6em;

	border: 4px solid var(--colorBorderForm);
	border-radius: 6px;
	box-shadow: 0 2px 10px var(--colorBoxShadow);

	background-color: var(--colorBkgForm);
	color: var(--colorFont);
}

.question-form-result-message {
	padding-bottom: 1.3em;
}
.question-form-result-button {
	padding: 0.2em 0.6em;
	background-color: var(--colorBkgTicketsBtn);
	border: 1px solid var(--colorBkgTicketsBtn);
	color: var(--colorFontTicketsBtn);
	border-radius: 0;
	cursor: pointer;
}
.question-form-result-button:focus-visible {
	outline: 1px solid var(--colorAntreprizaRed);
}
