:root {
	--footerBorderWidth: 2px;
	--footerLogoWidth: 145.1px;
	--footerLogoHeight: 55px;
}

/* --------------------------------------------------- */

footer {
	width: 100%;
	max-width: 100vw;
	padding: 0px clamp(15px, 4.5vw, 50px);
	background-color: var(--colorBkgFooter);
	color: var(--colorFontFooter);
	border-top: var(--footerBorderWidth) solid var(--colorBorderFooter);
	font-family: 'Roboto', Verdana, Arial, Tahoma, sans-serif;
	font-weight: var(--font-normal-weight);

	/* font-size: 1rem; */
	font-size: clamp(0.8rem, 1.2vw, 1rem);
	/* justify-content: space-between; */
	/* align-items: flex-start; */
	padding-top: 16px;
	padding-bottom: 8px;
}

footer.flex1 {
	display: flex;
	flex-direction: row;
	column-gap: 40px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flex1-item {
	align-self: flex-end;
}

footer a {
	text-decoration: none;
}

.footer-logo {
}

.footer-logo-svg {
	width: var(--footerLogoWidth);
	height: var(--footerLogoHeight);
	fill: var(--colorFontFooter);
	font-family: 'Roboto';
	font-weight: var(--font-logo-weight);
	font-size: 9px;
	stroke-width: 0px;
}

.address {
	font-size: 1rem;
	font-weight: var(--font-bold-weight);
	line-height: 1.3em;
}

.address p {
	margin: 0px 0px;
}

.tel-number {
	font-size: 0.9rem;
	font-weight: var(--font-bold-weight);
	line-height: 1.3em;
}

.footer-text-link {
	font-size: 0.8rem;
	letter-spacing: 0.3px;
	text-transform: uppercase;
	font-weight: var(--font-normal-weight);
}

.flex2 {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-size: clamp(0.75rem, 1.4vw, 0.9rem);
}

footer a:focus-visible {
	outline: 1px solid var(--colorFocusAntreprizaRed);
}

.web-developer {
	/* justify-content: flex-end; */
	text-align: right;
	font-size: clamp(0.75rem, 1.4vw, 0.9rem);
	line-height: 1.3em;
	letter-spacing: 0.05em;
	width: max-content;
}

.label {
	border-bottom: 1px solid;
}
