:root {
	--footerBorderWidth: 2px;
	--footerLogoWidth: 145.1px;
	--footerLogoHeight: 55px;
}

/* --------------------------------------------------- */

footer {
	width: 100%;
	padding: 0px 50px;
	background-color: var(--colorBkgFooter);
	color: var(--colorFontFooter);
	border-top: var(--footerBorderWidth) solid var(--colorBorderFooter);
	font-family: 'Roboto', Verdana, Arial, Tahoma, sans-serif;
	font-weight: var(--font-normal-weight);

	/* font-size: 1rem; */
	font-size: clamp(0.8rem, 1.2vw, 1rem);
}

footer a {
	text-decoration: none;
}

.footer-logo {
	padding: 16px 0px;
}

.footer-logo-svg {
	width: var(--footerLogoWidth);
	height: var(--footerLogoHeight);
	fill: var(--colorFontFooter);
	font-family: 'Roboto';
	font-weight: var(--font-logo-weight);
	font-size: 9px;
	stroke-width: 0px;
}

.address {
	font-size: 1rem;
	font-weight: var(--font-bold-weight);
	line-height: 1.3em;
}

.address p {
	margin: 0px 0px;
}

.tel-number {
	font-size: 0.9rem;
	font-weight: var(--font-bold-weight);
	line-height: 1.3em;
	padding: 16px 0px;
}

.footer-text-link {
	font-size: 0.8rem;
	letter-spacing: 0.3px;
	text-transform: uppercase;
	font-weight: var(--font-normal-weight);
}
