:root {
	--footerBorderWidth: 2px;
	--footerLogoWidth: 145.1px;
	--footerLogoHeight: 55px;
}

/* --------------------------------------------------- */

footer {
	width: 100%;
	max-width: 100vw;
	padding: 0px clamp(15px, 4.5vw, 50px);
	background-color: var(--colorBkgForm);
	color: var(--colorFont);
	border-top: var(--footerBorderWidth) solid var(--colorBorderForm);
	font-weight: var(--font-normal-weight);

	/* font-size: 1rem; */
	font-size: clamp(0.8rem, 1.2vw, 1rem);
	/* justify-content: space-between; */
	/* align-items: flex-start; */
	padding-top: 16px;
	padding-bottom: 8px;
}

footer .footer-flex {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
	row-gap: 15px;
	justify-content: space-between;
	/* align-items: start; */
	flex-wrap: wrap;
}

footer .footer-flex-item {
	font-size: clamp(0.8rem, 2vw, 0.95rem);
	/* align-self: flex-end; */
}

footer a {
	text-decoration: none;
	transition: color 400ms ease-out;
}
footer a * {
	transition: color 400ms ease-out;
}

footer button {
	transition: color 400ms ease-out;
}
footer .mainpage-link {
	color: var(--colorFont);
}

.footer-logo {
	width: var(--footerLogoWidth);
	height: var(--footerLogoHeight);
	color: currentColor;
}

.footer-text-link {
	font-size: clamp(0.7rem, 1.6vw, 0.8rem);
	line-height: 1.25em;
	/* font-size: 0.8rem; */
	letter-spacing: 0.3px;
	text-transform: uppercase;
	font-weight: var(--font-normal-weight);
}

footer .flex2 {
	display: flex;
	flex-direction: column;
	/* align-items: flex-end; */
	justify-content: space-between;
	font-size: clamp(0.75rem, 1.4vw, 0.9rem);
}

footer a:focus-visible {
	outline: 1px solid var(--colorAntreprizaRed);
}

.web-developer {
	/* justify-content: flex-end; */
	/* text-align: right; */
	font-size: clamp(0.75rem, 1.8vw, 0.9rem);
	line-height: 1.3em;
	letter-spacing: 0.05em;
	width: max-content;
}

footer .address {
	display: block;
	padding-bottom: 0.4em;
}

footer .info-text {
	font-size: clamp(0.8rem, 2vw, 0.95rem);
	font-weight: var(--font-normal-weight);
	line-height: 1.1em;
	height: 1.1em;
	letter-spacing: 0.03em;
}
footer .info-text.bold {
	font-weight: var(--font-bold-weight);
}

footer .info-text a,
footer .info-text span {
	display: inline-block;
}

footer .phone-number {
	letter-spacing: 0;
}

.label {
	border-bottom: 1px solid;
}

.copyright-year {
	font-size: clamp(0.75rem, 1.8vw, 0.9rem);
	padding-top: 0.2em;
}

.footer-partners .title {
	/* text-align: end; */
	padding-bottom: 0.3em;
	font-size: clamp(0.75rem, 1.8vw, 0.85rem);
	font-weight: 400;
}

footer .logo-flex {
	display: flex;
	flex-direction: row;
	gap: 0.3rem;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	max-width: 160px;
	margin-bottom: 0.3em;
}

footer .logo-50 {
	max-width: 50px;
}
footer .logo-60 {
	max-width: 60px;
}
footer .logo-70 {
	max-width: 70px;
}
footer .logo-90 {
	max-width: 90px;
}
footer .logo-100 {
	max-width: 100px;
}
footer .logo-120 {
	max-width: 120px;
}
@media (hover: hover) {
	footer a:hover,
	footer a:hover *,
	footer button:hover {
		transition: color 400ms ease-out;
		color: var(--colorAntreprizaRed);
	}
	footer .info-text:has(a:hover) {
		transition: color 400ms ease-out;
		color: var(--colorAntreprizaRed);
	}
}

footer .logo-flex a:focus-visible img {
	outline: 1px solid var(--colorAntreprizaRed);
	outline-offset: 1px;
}

.check-css {
	width: 1px;
	height: 1px;
	display: none;
}
