.gallery .block-title {
	position: relative;
	width: 100%;
	padding-bottom: clamp(0.5rem, 2.6vw, 1rem);
	border-bottom: 1px solid var(--colorFontDate);
	align-self: self-start;
}

.gallery .block-title h2 {
	font-size: clamp(1.35rem, 3.6vw, 2.4rem);
	font-weight: var(--font-extra-weight);
	line-height: 1.25em;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}

.after-gallery {
	position: relative;
	margin-top: 0.3px;
	border-top: 1px solid var(--colorFontDate);
	margin-bottom: clamp(1.6rem, 2.6vw, 3rem);
}

.after-gallery:last-of-type {
	margin-bottom: 4rem;
}

.media-flex-top,
.media-flex-bottom {
	display: flex;
	flex-direction: row-reverse;
	font-size: 1rem;
	line-height: 1em;
	user-select: none;
}
.media-flex-bottom {
	display: none;
}

.tabs {
	position: absolute;
	right: 0;
}
.tabs:is(.media-flex-top) {
	bottom: -1px;
}
.tabs:is(.media-flex-bottom) {
	top: -1px;
}

.tab-item {
	border: 1px solid var(--colorFontDate);
	background-color: transparent;
	color: var(--colorFontDate);

	font-size: clamp(0.85rem, 1.5vw, 1rem);
	font-weight: 400;
	letter-spacing: 0.07em;
	text-transform: uppercase;
}
.media-flex-top .tab-item {
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}
.media-flex-bottom .tab-item {
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.gallery input {
	-webkit-appearance: none;
	appearance: none;
}
.gallery label {
	display: inline-block;
	padding: 0.4em 1em 0.3em 1em;
}

.gallery-block:has(input[value='photo']:checked) .media-photo,
.gallery-block:has(input[value='video']:checked) .media-video,
.gallery-block:has(input[value='poster']:checked) .media-poster {
	color: var(--colorFontTicketsBtn-Op0);
	background-color: var(--colorBkgTicketsBtn);
}
.gallery-block:has(input[value='photo']:checked:focus-visible) .media-photo,
.gallery-block:has(input[value='video']:checked:focus-visible) .media-video,
.gallery-block:has(input[value='poster']:checked:focus-visible) .media-poster {
	/* .tab-item:has(input:focus-visible) { */
	outline: 1px solid var(--colorFont);
}

.photo_container,
.video_container,
.poster_container {
	display: none;
}

.gallery-block:has(input[value='photo']:checked) .photo_container,
.gallery-block:has(input[value='video']:checked) .video_container,
.gallery-block:has(input[value='poster']:checked) .poster_container {
	display: block;
}

.poster {
	height: min(100vw, 60vh);
	max-height: 67vw;
	min-height: 220px;
	position: relative;
}

@media screen and (max-width: 640px) {
	.media-flex-top {
		display: none;
	}
	.media-flex-bottom {
		display: flex;
	}
}

@media (hover: hover) {
	.tab-item:hover {
		background-color: var(--colorBkgTicketsBtn);
		color: var(--colorFontTicketsBtn-Op0);
		transition:
			background-color 300ms ease-out,
			color 300ms ease-out;
		cursor: pointer;
	}
}
