:root {
	--toolbarGap: 10px;
	--headerBorderWidth: 4px;
	--toolbarHeight: 56px;
	--toolbarBorderWeight: 4px;
	--headerHeight: calc(var(--toolbarHeight) + var(--toolbarBorderWeight));
	--toolbarNormalIconSize: 26px;
	--toolbarSmallIconSize: 23px;
	--toolbarLogoHeight: 40px;
	--menuNormalFontSize: 16px;
	--menuSmallFontSize: 14px;
}

[lang='ru'] {
	--toolbarLogoWidth: 35.4px;
	--toolbarLogoTextWidth: 119.5px;
}

[lang='de'] {
	--toolbarLogoWidth: 34.1px;
	--toolbarLogoTextWidth: 112.4px;
}

header a,
header a * {
	text-decoration: none;
	transition: color 400ms ease-out;
}

/* --------------------------------------------------- */
/* ----------------------- LOGO ---------------------- */
/* --------------------------------------------------- */
.icon-logo {
	display: none;
	width: var(--toolbarLogoWidth);
	height: var(--toolbarLogoHeight);
	color: var(--colorFont);
}

.icon-logo-text {
	display: block;
	width: var(--toolbarLogoTextWidth);
	height: var(--toolbarLogoHeight);
	color: var(--colorFont);
}

@media screen and (max-width: 1050px) {
	.icon-logo {
		display: block;
	}
	.icon-logo-text {
		display: none;
	}
}

@media screen and (max-width: 910px) {
	.icon-logo {
		display: none;
	}
	.icon-logo-text {
		display: block;
	}
}

@media screen and (max-width: 400px) {
	.icon-logo {
		display: block;
	}
	.icon-logo-text {
		display: none;
	}
}

/* --------------------------------------------------- */
/* ---------------------- header --------------------- */
/* --------------------------------------------------- */
header {
	width: 100%;
	max-width: 100vw;
	top: 0;
	align-items: center;
	z-index: 999;
	color: var(--colorFont);
	background-color: var(--colorBkgForm);
	border-bottom: var(--toolbarBorderWeight) solid var(--colorBorderForm);
	font-family: 'Roboto', Verdana, Arial, Tahoma, sans-serif;
	font-weight: var(--font-normal-weight);
	letter-spacing: 1px;
	user-select: none;
	font-size: clamp(0.85rem, 1.4vw, 1.05rem);
	height: var(--headerHeight);
}

.main-padding-top {
	height: 0px;
}

/* --------------------------------------------------- */
.header-navigator {
	display: flex;
	flex-direction: row;
	height: var(--toolbarHeight);
	width: 100%;
	align-items: center;
	justify-self: center;
	line-height: calc(0.8 * var(--headerHeight));
}

/* --------------------------------------------------- */
/* --------------------- LANG MENU ------------------- */
/* --------------------------------------------------- */

.language-menu {
	position: relative;
	width: 50px;
	height: 100%;
	border-right: 2px solid var(--colorBorderForm);
}

.lang-button {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
	gap: 5px;
	line-height: 1em;
	padding-top: 4px;
}

.lang-icon {
	display: block;
	height: 18px;
	width: 18px;
	color: var(--colorFont);
}

.lang-text {
	font-size: 0.85rem;
	text-transform: uppercase;
	font-weight: var(--font-bold-weight);
	letter-spacing: 2px;
}

.lang-button * {
	transition: color 400ms ease-out;
}

/* --------------------------------------------------- */
.navigator-logo-item {
	padding-left: calc(1.5 * var(--toolbarGap));
	padding-right: calc(2 * var(--toolbarGap));
	align-self: center;
}

.lang-brief {
	color: var(--colorFont-Op1);
	font-weight: var(--font-bold-weight);
}

.lang-title {
	padding-left: 5px;
}

.social-block {
	height: 100%;
	padding-left: clamp(0.8 * var(--toolbarGap), 1vw, 1.6 * var(--toolbarGap));
	padding-right: clamp(0.8 * var(--toolbarGap), 1vw, 1.6 * var(--toolbarGap));
}

.toolbar-block {
	height: 100%;
	padding-left: calc(0.8 * var(--toolbarGap));
	padding-right: calc(1.6 * var(--toolbarGap));
}

.language-list {
	line-height: 1.7rem;
}

/* --------------------------------------------------- */
/* -------------------- burger menu ------------------ */
/* --------------------------------------------------- */
.burger {
	display: none;
}

.burger-button:has(input:focus-visible) .burger-icon-wrapper {
	outline: 1px solid var(--colorAntreprizaRed);
}

.burger-button-wrapper {
	width: 45px;
	height: 45px;
	display: grid;
	place-items: center;
}

.burger-menu {
	position: absolute;
	width: 100vw;
	max-width: 280px;
	left: 0;
	top: var(--toolbarHeight);
	line-height: 1.5;
	z-index: 1110;
	padding: 0.75rem 0.8rem 0.65rem 0.8rem;
	color: var(--colorFont);
	background-color: var(--colorBkgForm);
	border: 4px solid var(--colorBorderForm);
	border-radius: 2px;
	font-size: 1rem;
	transform-origin: 0 0;
}

header:not(:has(.burger-switcher:checked)) .burger-menu {
	transform: scaleY(0);
}

header:not(:has(.burger-switcher:checked)) .burger-menu:has(a:focus-visible, label:focus-visible, .submenu-icon:focus-visible) {
	transform: scaleY(1);
}

header:has(.burger-switcher:checked) .burger-menu {
	transition: transform 0.5s ease-in-out;
	transform: scaleY(1);
}

.social-pages-mobile,
.toolbar-mobile {
	display: none;
}
/* --------------------------------------------------- */
/* -------------- header : screen adoption ----------- */
/* --------------------------------------------------- */
@media screen and (max-width: 910px) {
	.burger {
		display: block;
	}
	.language-menu {
		display: none;
	}
	.desktop-menu {
		display: none;
	}
}

@media screen and (max-width: 550px) {
	.social-block,
	.toolbar-block {
		display: none;
	}

	.social-pages-mobile,
	.toolbar-mobile {
		display: flex;
	}
}

@media screen and (min-height: 420px) {
	header {
		position: fixed;
	}
	.main-padding-top {
		height: var(--toolbarHeight);
	}
}

/* --------------------------------------------------- */
/* -------------- active - current pages-------------- */
/* --------------------------------------------------- */
.active_link,
.active_link * {
	color: var(--colorAntreprizaRed);
}

/* --------------------------------------------------- */
/* ---------------------- :hover --------------------- */
/* --------------------------------------------------- */
@media (hover: hover) {
	header a:hover,
	header a:hover *,
	.lang-button:hover *,
	.toolbar-list li:hover * {
		cursor: pointer;
		transition: color 400ms ease-out;
		color: var(--colorAntreprizaRed);
	}
}

/* --------------------------------------------------- */
/* ---------------------- :focus --------------------- */
/* --------------------------------------------------- */
header a:focus-visible {
	outline: 1px solid var(--colorAntreprizaRed);
	outline-offset: 3px;
}

.navigator-logo-item a:focus-visible .icon-logo-text,
.navigator-logo-item a:focus-visible .icon-logo {
	outline: 1px solid var(--colorAntreprizaRed);
}
