.not-found {
	width: 100%;
	padding: 25px clamp(20px, 5vw, 50px);
	font-weight: var(--font-normal-weight);
}

.not-found h2 {
	font-size: clamp(1.65rem, 5vw, 2.5rem);
	/* font-size: clamp(1.5rem, 5vw, 3rem); */
	line-height: 1.2em;
}

.not-found p {
	font-size: clamp(0.9rem, 3.2vw, 1.3rem);
	line-height: 1.25em;
}
