.partners .partners-block {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 800px;
	margin-top: clamp(1rem, 2.15vw, 1.6rem);
	margin-bottom: 2.5em;
}

.partners .logo-flex {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 3.5em;
}

.partners .logo {
	max-width: 120px;
	margin: 0 auto;
}

.partners .theater-name {
	font-size: clamp(1.2rem, 2.15vw, 1.6rem);
	line-height: 1.2em;
}

.partners .offer p {
	font-size: clamp(0.85rem, 1.4vw, 1rem);
	margin-top: 0.5em;
	margin-bottom: 0;
}
