.section-plays {
	width: 100%;
}

.play-block {
	position: relative;
	font-family: 'Roboto', Verdana, Arial, Tahoma, sans-serif;
	font-weight: var(--font-normal-weight);
	padding: 15px 10px;
	display: flex;
	flex-direction: row;
	column-gap: clamp(1rem, 2.5vw, 2rem);
	justify-content: space-between;
	transition: background-color 250ms linear;
	border-top: 1px solid;
}

.play-block-info {
	flex-grow: 2;
	min-width: 55vw;
	height: min-content;

	display: flex;
	flex-direction: column;
	align-items: start;
}

.play-info-name {
	grid-area: name;
	align-self: start;

	margin: 0px;
}

.play-info-author {
	margin: 0px;
	margin-bottom: 1rem;
	font-size: clamp(1.1rem, 2vw, 1.25rem);
	line-height: calc(1.1 * clamp(1.1rem, 2vw, 1.4rem));
}

/* --------------------------------------------------- */
@media screen and (max-width: 660px) {
	.play-block {
		flex-direction: column;
	}

	.play-block-info {
		min-width: 100%;
	}

	.play-block-image {
		padding-bottom: 15px;
	}
}
