section.play {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 clamp(1px, 2vw, 100px);
}

.play h2 {
	font-size: clamp(1.7rem, 3.6vw, 2.5rem);
	word-wrap: break-word;
}

.play h3 {
	font-size: clamp(1.3rem, 2.8vw, 1.9rem);
}

.play-title {
	font-size: clamp(1.6rem, 4vw, 3rem);
	font-weight: var(--font-extra-weight);
	line-height: 1.25em;
	padding-top: clamp(1.1rem, 2.6vw, 2rem);
	letter-spacing: 0.04em;
	text-transform: uppercase;
	align-self: self-start;
	word-wrap: break-word;
}

.play-author,
.next-plays-label {
	font-size: clamp(1rem, 1.9vw, 1.4rem);
	font-weight: var(--font-bold-weight);
	color: var(--colorFont-Op1);
	line-height: 1.25em;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	align-self: self-start;
}
.play-author {
	padding-top: clamp(0.3rem, 0.7vw, 0.5rem);
	padding-bottom: clamp(1.1rem, 2.6vw, 2rem);
}
.next-plays-label {
	padding-bottom: clamp(0.3rem, 0.7vw, 0.5rem);
}

.play-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 30px;
	width: 100%;
	max-width: 110vh;
	padding-top: clamp(8px, 1.8vw, 30px);
	padding-bottom: clamp(5px, 1.8vw, 30px);
}

.play-dates {
	align-self: self-start;
	padding: clamp(1.2rem, 2.2vw, 1.5rem) 0;
}

.buttons-block {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	row-gap: clamp(0.6rem, 1.5vw, 0.9rem);
	column-gap: 1rem;
}

.hot-line-info {
	padding: 0.4rem;
	background-color: var(--colorAntreprizaRed);
	color: #ffffff;
	font-weight: 300;
	line-height: 1.25;
	margin-bottom: 0.6rem;
}

.button-date {
	padding-top: 0.3rem;
	padding-bottom: 0.25rem;
	text-transform: initial;
	min-width: 12.2em;
}
.button-address {
	font-size: clamp(0.85rem, 1.5vw, 1rem);
	border-top: 1px solid var(--colorFontTicketsBtn);
	padding-top: 0.25rem;
	padding-bottom: 0.3rem;
	text-transform: initial;
	color: var(--colorFontTicketsBtn-Op1);
}
.button-address .stage-name {
	color: var(--colorFontTicketsBtn);
	font-weight: 500;
}

.play-description {
	width: 100%;
	font-size: clamp(0.85rem, 1.5vw, 1rem);
	padding: clamp(1.2rem, 2.2vw, 1.5rem) 0;
}

.new-chapter {
	padding-top: clamp(1.2rem, 2.2vw, 1.5rem);
}

.description-content {
	width: 100%;
	max-width: 110vh;
	/* text-align: justify; */
	margin: auto;
}
.description-content i {
	color: var(--colorFont-Op1);
	font-weight: var(--font-bold-weight);
}

.description-content p {
	margin-bottom: 0;
}
.description-content .name {
	font-size: 1.1em;
	font-weight: var(--font-bold-weight);
	color: var(--colorFont-Op1);
}

.afisha {
	/* width: 70%;
	max-width: min(80vh, 540px); */

	width: 100%;
	max-width: 110vh;
	margin: auto;

	/* width: 100%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto; */
}

.list {
	padding-top: 1em;
	padding-bottom: 0.5em;
	width: 100%;
}

.list-item {
	display: flex;
	flex-direction: row;
	width: 100%;
	font-size: clamp(1rem, 1.8vw, 1.2rem);
	line-height: 1.35em;
	padding-bottom: 1em;
}

.list-item-left {
	width: 50%;
	text-align: end;
	padding-right: 5px;
	color: var(--colorFont-Op0);
}

.list-item-right {
	width: 50%;
	text-align: start;
	padding-left: 5px;
}

.person-link {
	text-decoration: underline;
}

.small-description {
	color: var(--colorFont-Op1);
}

@media screen and (max-width: 600px) {
	.play-info {
		flex-direction: column;
	}
}
