.studio .description {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	margin-bottom: clamp(1.5rem, 2.6vw, 2rem);
	font-size: clamp(0.85rem, 1.5vw, 1.1rem);
	line-height: 1.35em;
}

.description p {
	margin-bottom: 0;
}

.description b {
	opacity: var(--font-part-opacity);
}

.description a {
	text-decoration: underline;
}

.description .big-font {
	font-size: 1.25em;
}

/* --------------------------------------------------- */
/* ---------------------- gallery -------------------- */
/* --------------------------------------------------- */
.gallery {
	padding-top: clamp(3rem, 7vw, 5rem);
}

.gallery h2 {
	font-size: clamp(1.4rem, 3vw, 2.2rem);
	word-wrap: break-word;
}

.studio-gallery {
	height: min(100vw, 60vh);
	max-height: 67vw;
	min-height: 220px;
	padding-bottom: clamp(0.3rem, max(0.5vh, 2vw), 1rem);
}
.studio-gallery-position {
	position: absolute;
	left: 0;
	right: 0;
	height: min(100vw, 60vh);
	max-height: 67vw;
	min-height: 220px;
	padding-bottom: clamp(0.3rem, max(0.5vh, 2vw), 1rem);
}
