.support .description {
	font-size: clamp(0.85rem, 1.5vw, 1.1rem);
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	line-height: 1.35em;
}

.support .description .header {
	font-size: 1.35em;
	font-weight: var(--font-bold-weight);
	letter-spacing: 0.02em;
	line-height: 1.2em;
	color: var(--colorFont-Op0);
}

.support .description p {
	line-height: 1.3em;
}
.support .description i {
	font-weight: var(--font-bold-weight);
	color: var(--colorFont-Op1);
	letter-spacing: 0.01em;
}
.support .description ul {
	padding-inline-start: 2em;
}

.support a:has(img) {
	line-height: 1px;
	font-size: 1px;
}

.support .flex-support {
	flex-wrap: wrap;
	column-gap: 40px;
}

.support .google-svg {
	/* margin-right: 20px; */
	padding: 10px;
	width: auto;
	height: 56px;
}
.support .facebook-svg {
	/* margin-left: 20px; */
	padding: 10px;
	padding-top: 0;
	width: auto;
	height: 38px;
}
.support .paypal-svg {
	padding: 10px;
	width: auto;
	height: 64px;
}
