.description {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	font-size: clamp(0.85rem, 1.5vw, 1.1rem);
	line-height: 1.35em;
}

.about .description {
	margin-bottom: clamp(1.5rem, 2.6vw, 2rem);
}

.description p {
	margin-bottom: 0;
}

.description b {
	color: var(--colorFont-Op1);
}

.description a {
	text-decoration: underline;
}

.description .big-font {
	font-size: 1.25em;
}

.description .motto {
	padding-top: clamp(2rem, 8vw, 4rem);
	padding-bottom: clamp(1rem, 4vw, 2.5rem);
	font-size: clamp(1.15rem, 2.8vw, 1.9rem);
	/* font-weight: 400; */
	font-weight: var(--font-bold-weight);
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	color: var(--colorFont-Op1);
}

.about .page-end {
	margin-bottom: clamp(1.7rem, 5vw, 3.5rem);
}

/* --------------------------------------------------- */
/* ---------------------- gallery -------------------- */
/* --------------------------------------------------- */
.gallery {
	padding-top: clamp(3rem, 7vw, 5rem);
}

.gallery h2 {
	font-size: clamp(1.4rem, 3vw, 2.2rem);
	word-wrap: break-word;
}

.studio-gallery {
	height: min(100vw, 60vh);
	max-height: 67vw;
	min-height: 220px;
	padding-bottom: clamp(0.3rem, max(0.5vh, 2vw), 1rem);
}
.studio-gallery-position {
	position: absolute;
	left: 0;
	right: 0;
	height: min(100vw, 60vh);
	max-height: 67vw;
	min-height: 220px;
	padding-bottom: clamp(0.3rem, max(0.5vh, 2vw), 1rem);
}
