.section-tickets {
	width: 100%;
	color: var(--colorFont);
	/* text-align: center; */
}

.tickets-play-link {
	text-decoration: none;
}

.tickets-play-block {
	font-family: 'Roboto', Verdana, Arial, Tahoma, sans-serif;
	font-weight: var(--font-normal-weight);
	padding: 15px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tickets-play-block[hidden] {
	display: none;
}

.tickets-play-block:not(:last-of-type) {
	border-bottom: 1px solid var(--colorFont);
}

.tickets-play-text {
	flex-grow: 2;
	min-width: 60vw;
	height: min-content;

	display: grid;
	grid-template-areas:
		'play-name'
		'info';
	padding-right: 15px;
	align-items: start;
	row-gap: 15px;
	column-gap: 5px;
}

.programm-when {
	grid-area: when;
	align-self: start;
}

.tickets-play-name {
	grid-area: play-name;
	align-self: start;
}

.tickets-play-title {
	grid-area: title;
	align-self: start;
}

.tickets-play-info {
	grid-area: info;
	align-self: start;
}

.tickets-premiere {
	/* grid-area: premiere;
	align-self: start; */

	font-size: 0.9rem;
	font-weight: var(--font-bold-weight);
	color: var(--colorAntreprizaRed);
	text-transform: uppercase;
	letter-spacing: 0.07rem;
}

.tickets-premiere ~ .tickets-play-title {
	margin-top: 0px;
}

.programm-date,
.tickets-play-title {
	font-size: 1.8rem;
	font-weight: var(--font-extra-weight);
	text-transform: uppercase;
}

.programm-day {
	font-size: 1.4rem;
	font-weight: var(--font-extra-weight);
	text-transform: uppercase;
}

.programm-time {
	font-size: 1.6rem;
	font-weight: var(--font-bold-weight);
}

.programm-date,
.programm-day,
.programm-time {
	color: var(--colorFontDate);
}

.tickets-genre-label {
	font-size: 1.05rem;
	font-weight: var(--font-thin-weight);
	text-transform: uppercase;
}

/* .programm-play-image {
	align-self: flex-start;
} */

.tickets-book-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	row-gap: 1rem;
}

.tickets-book-btn {
	margin-right: 1rem;
	border: 2px solid var(--colorFontDate);
	background-color: var(--colorFontDate);
	color: var(--colorFontTicketsBtn);
	width: max-content;
}

.tickets-play-image picture {
	/* display: block; */
}

.play-image {
	display: block;
	border-radius: 4px;
	max-width: 100%;
	height: auto;
	object-fit: contain;

	-webkit-filter: grayscale(95%);
	filter: grayscale(95%);
}

.tickets-play-block:hover {
	background-color: var(--colorBkgProgrammItem);
}
.tickets-play-block:hover .play-image {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.section-tickets a:focus-visible {
	outline: 1px solid var(--colorFocusAntreprizaRed);
}

.tickets-book-link {
	position: relative;
	user-select: none;
}

@media screen and (max-width: 910px) {
	.tickets-play-text {
		min-width: 50vw;
		grid-template-areas:
			'play-name'
			'info';
		align-items: start;
	}
}

@media screen and (max-width: 660px) {
	.tickets-play-block {
		flex-direction: column-reverse;
	}
	.tickets-play-text {
		min-width: 100%;
	}

	.tickets-play-image {
		padding-bottom: 15px;
	}
}
