.section-tickets {
	width: 100%;
}

.item-block {
	position: relative;
	font-family: 'Roboto', Verdana, Arial, Tahoma, sans-serif;
	font-weight: var(--font-normal-weight);
	padding: 15px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	transition: background-color 250ms linear;
	border-top: 1px solid;
}

.tickets-play-block[hidden] {
	display: none;
}

.tickets-play-text {
	flex-grow: 2;
	min-width: clamp(50vw, 3.5vw, 60vw);
	max-width: clamp(50vw, 3.5vw, 60vw);
	min-height: 100%;

	display: grid;
	grid-template-areas:
		'play-name'
		'info'
		'dates';
	grid-template-rows: auto auto 1fr;
	padding-right: 15px;
	align-items: start;
	row-gap: clamp(7px, 0.7vw, 15px);
	column-gap: 5px;
}

.tickets-play-name {
	grid-area: play-name;
	align-self: start;
}

.tickets-play-info {
	grid-area: info;
	align-self: start;
}

.tickets-play-dates {
	grid-area: dates;
	align-self: end;
}
.tickets-play-dates .notification-label {
	margin-bottom: 0.15em;
}

.tickets-play-dates-label {
	display: inline-block;
	font-size: clamp(0.95rem, 1.8vw, 1.05rem);
	font-weight: var(--font-thin-weight);
	text-transform: uppercase;
	margin-bottom: 0.3rem;
}

.this-stage-plays {
	padding-bottom: 0.5em;
}
.this-stage-plays .stage-name {
	padding-bottom: 0.1em;
}

.buttons-block {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	row-gap: clamp(0.6rem, 1.5vw, 0.9rem);
	column-gap: 1rem;
}

/* --------------------------------------------------- */
/* ------------------ gift block --------------------- */
/* --------------------------------------------------- */

.gift-text {
	min-width: clamp(50vw, 3.5vw, 60vw);
	max-width: clamp(50vw, 3.5vw, 60vw);
	min-height: 100%;

	display: flex;
	flex-direction: column;
	padding-right: 15px;
	align-items: start;
	row-gap: clamp(7px, 0.5vw, 15px);
}

.gift-info {
	margin: 0;
	margin-bottom: 5px;
	font-size: clamp(0.9rem, 1.8vw, 1.05rem);
	font-weight: var(--font-normal-weight);
	line-height: 1.25em;
	white-space: pre-wrap;
}

/* --------------------------------------------------- */
/* -------------------- @media ----------------------- */
/* --------------------------------------------------- */
@media screen and (max-width: 660px) {
	.item-block {
		flex-direction: column-reverse;
	}
	.tickets-play-text,
	.gift-text {
		min-width: 100%;
		padding-right: 0;
	}

	.tickets-play-image,
	.gift-image {
		padding-bottom: 15px;
	}
}
