.ticket-layer {
	background-color: var(--colorBkgLayerUnderForm);
	transform: scaleY(0);
}

.ticket-layer.show {
	transition:
		0.5s transform ease-in-out,
		0.5s backdrop-filter ease-in-out;
	transform: scaleY(1);
}

.ticket-form-wrapper {
	position: relative;
	border: 4px solid var(--colorBorderForm);
	border-radius: 2px;
	box-shadow: 0 2px 10px var(--colorBoxShadow);

	background-color: var(--colorBkgForm);
	color: var(--colorFont);

	max-width: min(80vw, 130vh);
	min-width: 220px;
	/* max-width: 440px; */
	min-height: 120px;
}

.ticket-layer .close__button {
	position: absolute;
	top: 3px;
	right: 3px;
	background-color: transparent;
	color: var(--colorFontDate);
	border: 0px;
	font-size: 20px;
	line-height: 20px;
	font-weight: var(--font-bold-weight);
	padding: 1px 3px;
	cursor: pointer;
}

.ticket-layer .close__button:focus-visible {
	outline: 1px solid var(--colorAntreprizaRed);
}
.ticket-layer .close__button:hover {
	color: var(--colorAntreprizaRed);
}

.ticket-form {
	padding: 25px;
	padding-right: 32px;
}

.ticket-form .play-name {
	font-size: clamp(1.2rem, 4vw, 1.5rem);
	font-weight: var(--font-bold-weight);
	line-height: 1em;
	text-transform: uppercase;
	/* padding-bottom: 0.1em; */
}

.ticket-form .play-descr {
	color: var(--colorFont-Op1);
	padding-bottom: 0.3em;
	line-height: 1em;
}

.ticket-form .info-flex {
	display: flex;
	flex-direction: row;
	column-gap: 0.7em;
	align-items: center;
	padding-bottom: 0.4em;
}
.ticket-form .info-flex.border-bottom {
	/* padding-bottom: 0.7em;
	border-bottom: 1px solid var(--colorFont-Op1);
	margin-bottom: 0.4em; */
}

.ticket-form .icon-item {
	line-height: 1em;
	margin: auto 0;
}

.ticket-form .svg_icon {
	fill: var(--colorFont-Op1);
	width: 1.6em;
	height: 1.6em;
}

.ticket-form .play-date,
.ticket-form .play-time {
	color: var(--colorFontDate);
	font-weight: var(--font-bold-weight);
	line-height: 1.1em;
}
.ticket-form .play-time {
	padding-top: 0.07em;
	padding-bottom: 0.2em;
}

.ticket-form .play-address,
.ticket-form .play-stage-name {
	/* color: var(--colorFont-Op0); */
	line-height: 1.1em;
	/* padding-bottom: 0.3em; */
}

.play-place {
	color: var(--colorFont-Op1);
	line-height: 1.1em;
}

.subform {
	padding-left: 2em;
}

.price-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 0.3em;
}
.price-info {
	flex-grow: 1;
	line-height: 1.2em;
}

.count-input {
	border: none;
	background-color: var(--colorBkgForm);
	color: var(--colorFont-Op0);
	cursor: pointer;
}

.ticket-form-buttons-div {
	text-align: right;
	padding-top: 0.7em;
}

.ticket-form input[type='radio']:not(:checked) ~ .subform {
	display: none;
}

.ticket-form-book-button {
	padding: 0.2em 0.5em;
	width: 100%;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.03em;
	line-height: 1.5rem;

	background-color: var(--colorBkgTicketsBtn);
	color: var(--grey-10);
	border: 1px solid var(--colorBkgTicketsBtn);
	border-radius: 3px;
}
.book-at-kontramarka .ticket-form-book-button {
	padding: 0 0.5em;
	line-height: 0.8em;
}
.book-at-kontramarka .flex-center {
	flex-direction: row;
	flex-wrap: wrap;
}

.book-block {
	padding-left: calc(1.6em + 0.7em - 2em);
}
.book-block label {
	padding-left: 1em;
}
.ticket-at-antrepriza {
	padding-top: 0.5em;
}
.ticket-at-kontramarka {
	padding-top: 0.8em;
}

.book-at-kontramarka .button-text {
	display: inline;
	padding-top: 0.23em;
}
.book-at-kontramarka .button-image {
	padding: 0;
	width: 115px;
	height: auto;
	object-fit: contain;
}
/* 

<label class="cr-wrapper">
  <input type="checkbox" checked="checked"/>
  <div class="cr-input"></div>
  <span>Checkbox - checked</span>
</label>

cr-wrapper *,
.cr-wrapper *::before,
.cr-wrapper *::after {
	box-sizing: content-box !important;
}

.cr-wrapper input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.cr-wrapper span {
	font-size: 16px;
}

.cr-wrapper {
	display: table;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	margin-bottom: 5px;
}

.cr-wrapper input[type="checkbox"] ~ .cr-input {
	position: absolute;
	top: 50%;
	left: 0;
	height: 20px;
	width: 20px;
	background: #A09296;
	transition: background 250ms;
	border: 1px solid #9C8E92;
	border-radius: 3px;
	transform: translate(0, -50%);
}

.cr-wrapper input[type="radio"] ~ .cr-input {
	position: absolute;
	top: 50%;
	left: 0;
	height: 20px;
	width: 20px;
	background: #A09296;
	transition: background 250ms;
	border: 1px solid #9C8E92;
	border-radius: 20px;
	transform: translate(0, -50%);
}

.cr-wrapper input[type="checkbox"] ~ .cr-input::after {
	content: "";
	position: absolute;
	display: none;
	left: 4px;
	top: 4px;
	width: 12px;
	height: 12px;
	transition: background 250ms;
	background-color: #FFFFFF;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.cr-wrapper input[type="radio"] ~ .cr-input::after {
	content: "";
	position: absolute;
	display: none;
	left: 4px;
	top: 4px;
	width: 12px;
	height: 12px;
	border-radius: 20px;
	background: #F1F1F1;
	transition: background 250ms;
}

.cr-wrapper input:checked ~ .cr-input::after {
	display: block;
}

.cr-wrapper:hover input[type="checkbox"]:not([disabled]) ~ .cr-input,
.cr-wrapper input[type="checkbox"]:focus ~ .cr-input {
	background: #CBBEBE;
	border-color: #C2B6B6;
}

.cr-wrapper:hover input[type="radio"]:not([disabled]) ~ .cr-input,
.cr-wrapper input[type="radio"]:focus ~ .cr-input {
	background: #CBBEBE;
	border-color: #C2B6B6;
}

.cr-wrapper input[type="checkbox"]:checked ~ .cr-input {
	background: #87605E;
	border-color: #865F5D;
}

.cr-wrapper input[type="radio"]:checked ~ .cr-input {
	background: #87605E;
	border-color: #865F5D;
}

.cr-wrapper input[type="checkbox"]:disabled ~ .cr-input,
.cr-wrapper input[type="radio"]:disabled ~ .cr-input {
	opacity: 0.5;
	cursor: not-allowed;
}

.cr-wrapper input[type="checkbox"]:disabled ~ span,
.cr-wrapper input[type="radio"]:disabled ~ span {
	opacity: 0.5;
	cursor: not-allowed;
}

.cr-wrapper input[type="checkbox"]:disabled ~ .cr-input::after {
	background: #FFFFFF;
}

.cr-wrapper input[type="radio"]:disabled ~ .cr-input::after {
	background: #F1F1F1;
}

.cr-wrapper:hover input[type="checkbox"]:not([disabled]):checked ~ .cr-input,
.cr-wrapper input[type="checkbox"]:checked:focus ~ .cr-input {
	background: #775553;
	border-color: #71504F;
}

.cr-wrapper:hover input[type="radio"]:not([disabled]):checked ~ .cr-input,
.cr-wrapper input[type="radio"]:checked:focus ~ .cr-input {
	background: #775553;
	border-color: #71504F;
}
*/
