.section-tickets {
	width: 100%;
	color: var(--colorFont);
	/* text-align: center; */
}

.tickets-play-link {
	text-decoration: none;
	display: block;
}

.tickets-play-link::before {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.tickets-play-block {
	position: relative;
	font-family: 'Roboto', Verdana, Arial, Tahoma, sans-serif;
	font-weight: var(--font-normal-weight);
	padding: 15px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	transition: background-color 250ms linear;
}

.tickets-play-block[hidden] {
	display: none;
}

.tickets-play-block:not(:last-of-type) {
	border-bottom: 1px solid var(--colorFont);
}

.tickets-play-text {
	flex-grow: 2;
	min-width: 60vw;
	min-height: 100%;

	display: grid;
	grid-template-areas:
		'play-name'
		'info'
		'dates';
	grid-template-rows: auto auto 1fr;
	padding-right: 15px;
	align-items: start;
	row-gap: 15px;
	column-gap: 5px;
}

.programm-when {
	grid-area: when;
	align-self: start;
}

.tickets-play-name {
	grid-area: play-name;
	align-self: start;
}

.tickets-play-title {
	grid-area: title;
	align-self: start;
}

.tickets-play-info {
	grid-area: info;
	align-self: start;
}

.tickets-play-dates {
	grid-area: dates;
	align-self: end;
}

.tickets-premiere {
	/* grid-area: premiere;
	align-self: start; */

	font-size: 0.9rem;
	font-weight: var(--font-bold-weight);
	color: var(--colorAntreprizaRed);
	text-transform: uppercase;
	letter-spacing: 0.07rem;
}

.tickets-premiere ~ .tickets-play-title {
	margin-top: 0px;
}

.programm-date,
.tickets-play-title {
	font-size: 1.8rem;
	font-weight: var(--font-extra-weight);
	text-transform: uppercase;
}

.programm-day {
	font-size: 1.4rem;
	font-weight: var(--font-extra-weight);
	text-transform: uppercase;
}

.programm-time {
	font-size: 1.6rem;
	font-weight: var(--font-bold-weight);
}

.programm-date,
.programm-day,
.programm-time {
	color: var(--colorFontDate);
}

.tickets-play-genre {
	font-size: 1.2rem;
	font-weight: 400;
}

.tickets-play-genre::before {
	content: attr(data-label);
	font-size: 1.05rem;
	font-weight: var(--font-thin-weight);
	text-transform: uppercase;
}

/* .programm-play-image {
	align-self: flex-start;
} */

.tickets-play-dates-label {
	display: inline-block;
	font-size: 1.05rem;
	font-weight: var(--font-thin-weight);
	text-transform: uppercase;
	margin-bottom: 0.3rem;
}

.tickets-book-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	row-gap: 1rem;
	column-gap: 1rem;
}

.tickets-book-btn {
	border: 1px solid var(--colorFontDate);
	background-color: var(--colorFontDate);
	color: var(--colorFontTicketsBtn);
	width: max-content;
	text-transform: uppercase;
	font-weight: 400;
	padding: 0.25em 0.6em 0.25em 0.6em;
	line-height: 1.1rem;
	border-radius: 3px;
	z-index: 5;
}

.tickets-book-btn[disabled] {
	border: 1px solid var(--colorBkgDisabledBtn);
	background-color: var(--colorBkgDisabledBtn);
	text-decoration: line-through;
}

.tickets-play-image picture {
	/* display: block; */
}

.play-image {
	display: block;
	border-radius: 4px;
	max-width: 100%;
	height: auto;
	object-fit: contain;

	-webkit-filter: grayscale(95%);
	filter: grayscale(95%);
	transition: filter 250ms ease-in;
}

.tickets-play-block:hover {
	background-color: var(--colorBkgProgrammItem);
}
.tickets-play-block:hover .play-image {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.section-tickets a:focus-visible {
	outline: 1px solid var(--colorFocusAntreprizaRed);
}

.tickets-book-link {
	position: relative;
	user-select: none;
}

@media screen and (max-width: 910px) {
	.tickets-play-text {
		min-width: 50vw;
		grid-template-areas:
			'play-name'
			'info'
			'dates';
		align-items: start;
	}
}

@media screen and (max-width: 660px) {
	.tickets-play-block {
		flex-direction: column-reverse;
	}
	.tickets-play-text {
		min-width: 100%;
	}

	.tickets-play-image {
		padding-bottom: 15px;
	}
}
