.modal-layer-ticket {
	font-size: clamp(0.9rem, 2.7vw, 1rem);
}

.modal-layer-ticket .modal-dialog {
	max-width: 360px;
}

.ticket-form .play-name {
	font-size: 1.5em;
	font-weight: var(--font-bold-weight);
	line-height: 1em;
	text-transform: uppercase;
	/* padding-bottom: 0.1em; */
}

.ticket-form .play-descr {
	color: var(--colorFont-Op1);
	padding-top: 0.2em;
	padding-bottom: 0.9em;
	line-height: 1em;
}

.ticket-form .info-flex {
	display: flex;
	flex-direction: row;
	column-gap: 0.7em;
	align-items: center;
	padding-bottom: 0.4em;
}

.ticket-form .icon-item {
	line-height: 1em;
	margin: auto 0;
}

.ticket-form .svg_icon {
	fill: var(--colorFont-Op1);
	width: 1.6em;
	height: 1.6em;
}

.ticket-form .play-date,
.ticket-form .play-time {
	color: var(--colorFontDate);
	font-weight: var(--font-bold-weight);
	line-height: 1.1em;
}
.ticket-form .play-time {
	padding-top: 0.07em;
	padding-bottom: 0.2em;
}

.ticket-form .play-stage-name {
	padding-top: 0;
	padding-bottom: 0;
}

.play-seating {
	color: var(--colorFont-Op1);
	line-height: 1.1em;
}

.subform {
	padding-left: 2em;
}

.price-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 0.3em;
}
.price-info {
	flex-grow: 1;
	line-height: 1.2em;
}

.count-input {
	border: none;
	background-color: var(--colorBkgForm);
	color: var(--colorFont-Op0);
	cursor: pointer;
}

.ticket-form-buttons-div {
	text-align: right;
	padding-top: 0.7em;
}

.ticket-form input[type='radio']:not(:checked) ~ .subform {
	display: none;
}

.pink-button.ticket-book {
	padding: 0.35em 0.6em;
	width: 100%;
	letter-spacing: 0.03em;

	text-transform: none;
	color: var(--grey-10);
}
.pink-button.ticket-book[disabled] {
	border: 1px solid var(--colorBkgDisabledBtn);
	background-color: var(--colorBkgDisabledBtn);
	color: var(--colorFontDisabledBtn);
	text-decoration: none;
	cursor: default;
}
.book-at-kontramarka .pink-button.ticket-book {
	padding: 0 0.5em;
	line-height: 0.8em;
}
.book-at-kontramarka .flex-center {
	flex-direction: row;
	flex-wrap: wrap;
}

.book-block {
	padding-left: calc(1.6em + 0.7em - 2em);
}
.book-block label {
	padding-left: 1em;
}
.ticket-at-antrepriza {
	padding-top: 0.5em;
}
.ticket-at-kontramarka {
	padding-top: 0.8em;
}

.book-at-kontramarka .button-text {
	display: inline;
	padding-top: 0.23em;
}
.book-at-kontramarka .button-image {
	padding: 0;
	width: 115px;
	height: auto;
	object-fit: contain;
}
