---
// import AntreprizaLayout from "../layouts/AntreprizaLayout.astro";
// const pageTitle = "Театр Антреприза Берлин";
// const pageLang = "ru";

---

<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="robots" content="noindex, follow" />
	</head>
	<body>
		<script is:inline src="/js/antrepriza.js"></script>
		<script is:inline>
				selectRoot();
		</script>
	</body>
</html>
