---
const { lang } = Astro.props;

import dictionary from '@data/dictionary.json'
import theater from '@data/theater.json'

import YouTubePlayer from "@components/youtube_player.astro"

---

<section class="about">
  <h1 class="section-title">{dictionary.menu_about[lang]}</h1>
  <YouTubePlayer lang={lang} url={theater.promo_video_about} />
</section>
