---

const {lang} = Astro.props;

import plays from '@data/plays.json'
plays.sort((play1, play2) => play1.alt_title[lang].toLowerCase().localeCompare(play2.alt_title[lang].toLowerCase(), lang));

import '@styles/gallery.css'
import photos from '@data/plays_photos.json'

import PlayGallery from "@components/play_gallery.astro";

---

{
  plays.map(play => {
    let playFotos = photos.filter(photo => photo.filename && photo.play_id == play.id && photo.is_landscape);
    if ( (!playFotos || !playFotos.length) && !play.trailer_embed) return;
    return (
      <h1 class="play-title">{play.title[lang].toUpperCase()}</h1>
      <div>
        {
          playFotos && playFotos.length &&
          <PlayGallery play_id={play.id} play_suffix={play.suffix} hover="false"/>
        }
        {
          playFotos && playFotos.length && play.trailer_embed &&
          <div class="middle-gallery"></div>
        }
        {
          play.trailer_embed &&
          <div class="media_container">
            <div class="media">
              <iframe class="trailer float"
                src={play.trailer_embed+"&rel=0&controls=2&hl="+lang.toUpperCase()} title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen>
              </iframe>
            </div>
          </div>
        }
      </div>
      <div class="after-gallery"></div>
    );
  })
}
