---
import '@styles/loader.css'
const {uniq_name, background='no'} = Astro.props;
---

<div class:list={['layer-on-parent loader', uniq_name, { not_transparent: background !== 'no'}]} >
  <div class="antrepriza-loader"></div>
</div>
