---

const { lang } = Astro.props;

import dictionary from '@data/dictionary.json'

---

<section class="impressum">
  <h1 class="section-title">{dictionary.privacy_policy[lang]}</h1>
  <div class="page-end"></div>
</section>
