---

const {lang} = Astro.props;

import programm from '@data/programm.json'

import plays_ru from '@data/plays_ru.json'
import plays_de from '@data/plays_de.json'

let plays = (lang === 'de') ? plays_de : plays_ru; 

let sortProgramm = programm.sort((play1, play2) => 
	Date.parse(play1.data+"T"+play1.time) - Date.parse(play2.data+"T"+play2.time))

---

{
	programm.map((playInProgramm) => {
		let playInfo;
		plays.some((playInRepertoire) => {
			console.log("play in Program: " + playInProgramm.play_id + "; play in Plays: " + playInRepertoire.id);
			if (playInProgramm.play_id === playInRepertoire.id) {
				playInfo = playInRepertoire;
				return; 
			}
		} )
		if (playInfo)
			return (
					<h3 class="play-block" data-date={playInProgramm.data}>{playInProgramm.data} {playInfo.title}</h3>
			);
	} )
}
<script>
	const ONE_DAY = 24*60*60*1000;
	let playCards = document.getElementsByClassName('play-block');
	for (let playCard of playCards) {
		if (Date.parse(playCard.getAttribute("data-date")) + ONE_DAY  < Date.now())
			(playCard as HTMLElement).hidden = true;
	}
</script>
