---

const { lang } = Astro.props;

import dictionary from '@data/dictionary.json'
import theater from '@data/theater.json'

import '@styles/theater.css'

import ContentRu from '@layouts/content/support_ru.astro'
import ContentDe from '@layouts/content/support_de.astro'

let Content;
if (lang === 'de') Content = ContentDe;
else Content = ContentRu;

---

<section class="support">
  <h1 class="section-title">{dictionary.support[lang]}</h1>
    <div class="description">
      <Content>
        <div slot='reviews' class='flex-center flex-review'>
          <div><a href="https://g.page/r/CXSamsbDK3NlEBI/review" target="_blank"	rel="noopener external"><img src = "/google-logo.svg" alt="Google Reviews Antrepriza" class="google-svg"/></a></div>
          <div><a href="https://www.facebook.com/AntreprizaBerlin/reviews" target="_blank"	rel="noopener external"><img src = "/facebook-logo.svg" alt="Facebook Reviews Antrepriza" class="facebook-svg"/></a></div>
        </div>
        <div slot='donate' class='flex-center'>
          <a href="https://paypal.me/antreprizaBuehne" target="_blank"	rel="noopener external"><img src = "/paypal-color.svg" alt="PayPal Antrepriza" class="paypal-svg"/></a>
        </div>
        <a slot='phone' href={"tel:"+theater.phone} class="font-opacity1">{theater.phone}</a>
        <a slot='email' href={"mailto:"+theater.email} class="font-opacity1">{theater.email}</a>
      </Content>
    </div>
  <div class="page-end"></div>
</section>
